<h1>Settings</h1>
<ul id="user" class="user">
  <img id="profile-image" src="{{user.image}}" />
  <li id="user-name">{{user.name}}</li>
  <li id="user-email">{{user.email}}</li>
</ul>

<h3>Upload new image</h3>
<form action="/settings" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input id="choose-file" type="file" class="form-control-file" name="uploadedImage" />
    <input id="upload-file" type="submit" value="Upload" class="btn btn-default" />
  </div>
</form>
