<div class="body_not_navbar">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<h1>Timeline</h1>

  <a class="new-post-link" href="/posts/new">Create a new post</a>
  <br>
  <a class="upload-photo" href="/images/upload">Upload a photo</a>
  <br>
<br>

<p>All images</p>
{{#each images}}
  <img src="/{{this.link}}">
{{/each}}
<p>End</p>
</div>
