<div class="whole-page">

  <div>
    <div class="profile main-title">
      <h1>Profile</h1>
    </div>

    <div class="profile grey-div">
      
      <h2>Hi {{user.name}}!</h2>

      {{#if user.profile_picture}}
        <img id="profile-photo" src={{user.profile_picture}}>
      {{else}}
        <img id="profile-photo" src="/images/cutie-pie.jpeg" width="100" height="100"/>
      {{/if}}

      <form id="upload-profile-photo-form" action="/profile" method="post" enctype="multipart/form-data">
        <label class="button" for="img">Select Image</label>
        <input type="file" id="img" name="image" accept="image/*" class="hidden" required> 
        <input class="button" type="submit" name="upload" value="Update Profile" >
      </form>

      <hr>

      <h2>Friends</h2>

      <div class="flex-container">
        <div class="friends flex-container">
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
          <div class="friend"></div>
        </div>
      </div>
    </div>
  </div>
</div>