<h1 class="title">{{title}}</h1>

<form action='/sessions?_method=DELETE' method='POST'>
  <input id="logout" type="submit" value="Log out">
</form>
<p>Welcome {{name}}</p>

<img src="{{{url}}}" width="230" 
     height="200"/> 

<br>

<a href="/posts">Back to posts</a>