

<form id="new-comment-form" action="/comment/create" method="post">
  <textarea id="comment" name="comment" placeholder="Add Comment" rows="4" cols="50">
  </textarea>
  <input type="submit" value="Submit">
</form>