
    {{#each this.comments}}
      
    <p>{{this.comment}}</p>
    <footer class="blockquote-footer">{{this.user}}</footer>
    {{/each}}

<div class="addComment">
  <form action="/posts/comment/new" method="post">
    <input type="text" name="comment" id="input-comment">
    <button id="comment-btn" name="postId" value="{{this._id}}">Comment</button>
  </form>
</div>