<div class="navbar">
  <div class="logo_container">
    <div id="logo" class="header_button_logo" style="text-decoration: none">Logo</div>
  </div>
  <div class="header_buttons">
    {{#if username}}
    <img id="profile-photo" class="header_button_photo" style="text-decoration: none" {{profilePhotoPath}}>
    <a id="username" href="/posts" class="header_button" style="text-decoration: none"> {{username}}</a>
    <a id="timeline" href="/posts" class="header_button" style="text-decoration: none"> Timeline</a>
    <form id="log-out-form" action='/sessions?_method=DELETE' method='POST'>
      <input id="log-out" class="header_button" style='font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;' type="submit" value="Log Out">
    </form>
    {{else}}
    {{/if}}
  </div>
</div>

