<ul class="posts">
  {{#each posts}}
  <li>
    {{this.message}}
    <br>
    Posted at: <div id="createdAt">{{this.createdAt}}</div>
  </li>
<form action="/posts/{{this.id}}" method="post">
  <input type="submit" id="like" value="Like">
  <p id="numberOfLikes">{{this.likes.length}}</p>
  {{/each}}
</ul>

