
  <div class="updateProfile">
    <div class="row">
      <div>
        <form action="users/updateprofile" method="post">
          <label for="name">Name: </label>
          <input id="name" type="text" name="name" "required=required" value="{{name}}"><br>
          <label for="bio">Bio: </label>
          <input id="bio" type="text" name="bio" "required=required" value="{{bio}}"><br>
          <input type="file" name="image" id="input-files" class="form-control-file border"/>
          <button id="profile-btn">Update</button>
        </form>
      </div>
    </div>
    <hr />
    <div class="row">
        <div>
          <div class="preview-images"></div>
        </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>

