<img src="/uploads/images/{{this.image}}" class="img-thumbnail rounded float-start">
  <div class="updateProfile">
    <div class="row">
      <div>
        <form action="users/updateprofile" method="post">
          <div class="input-group mb-3">
          <label for="name" class="input-group-text" id="basic-addon1">Name: </label>
          <input id="name" class="form-control" aria-describedby="basic-addon1" type="text" name="name" "required=required" value="{{name}}">
          </div>
          <div class="input-group mb-3">
          <label for="bio" class="input-group-text" id="basic-addon1">Bio: </label>
          <input id="bio" class="form-control" aria-describedby="basic-addon1" type="text" name="bio" "required=required" value="{{bio}}"><br>
          </div>
          <div class="input-group mb-3">
          <input class="form-control" type="file" name="image" id="input-files" class="form-control-file border"/>
          </div>
          <div class="input-group mb-3">
          <button id="profile-btn" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>

    <hr />
    <div class="row">
        <div>
          <div class="preview-images"></div>
        </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>
