<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acebook</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9444ec;">
    <a class="navbar-brand" href="/dashboard">
      <img src="https://i.imgur.com/OAYbRdF.png" alt="Logo" style="width: 70px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 1.5rem;" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.5rem;" href="/dashboard/myposts">My Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.5rem;" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="justify-content-center text-center mt-4">
    <h1>{{username}}'s scribbles</h1>
    <form action="/dashboard/new" method="get">
      <input type="submit" class="btn btn-primary margin-md" value="Add new post">
    </form>

    <div class="d-flex justify-content-center mt-3">
      <ul class="content">
        {{#each user}}
          <div class="card text-white mb-3" style="max-width: 20rem; background-color: #6a5b98;">
            <div class="card-header">
              {{this.user.username}}
            </div>
            <div class="card-body">
              <h4 class="card-title">{{this.post}}</h4>
              <p class="card-text">{{this.createdAt}}</p>
            </div>
          </div>
        {{/each}}
      </ul>
    </div>
  </div>
</body>
</html>

