 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9444ec;">
    <a class="navbar-brand" href="/">
      <img src="https://i.imgur.com/OAYbRdF.png" alt="Logo" style="width: 70px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 1.5rem;" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.5rem;" href="/dashboard/myposts">My Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.5rem;" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="text-center mt-3">
    <h1>{{title}}</h1>
    <form id="new-post-form" action="/dashboard/new" method="POST">
      <label for="post">Message:
        <input id="message" type="text" name="post" value="{{{ content.post }}}">
      </label>
      <input type="submit" value="Submit">
    </form>
  </div>