<h1>Welcome {{username}}</h1>
<ul class="content">
  {{#each user}}
  <li>{{this.post}}</li>
  {{/each}}
</ul>

<a class="new-content-link" href="/content/new">Add new post</a>

<a class="logout-link" href="/logout">Logout</a>
