<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acebook</title>
</head>
<body>
  <h1>Welcome {{username}}</h1>

  <ul class="content">
    {{#each user}}
      <li>
        {{this.post}}
        <br>
        {{this.createdAt}}
      </li>
    {{/each}}
  </ul>

  <a class="new-content-link" href="/content/new">Add new post</a>

  <a class="logout-link" href="/logout">Logout</a>

</body>
</html>

