<h1>Dashboard</h1>
<ul class="content">
  {{#each content}}
  <li>{{this.post}}</li>
  {{/each}}
</ul>

<a class="new-content-link" href="/content/new">Add new post</a>

<a class="logout-link" href="/logout">Logout</a>
