
<h1>Dashboard</h1>
<ul class="content">
  {{#each content}}
  
  <li class="list-group-item list-group-item-primary">{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-content-link" href="/content/new">Add new post</a>

<a class="logout-link" href="/logout">Logout</a>

