<h1>Welcome {{username}}</h1>
<ul class="content">
  {{#each content}}
  <li>{{this.post}} {{this.createdAt}}</li>
  {{/each}}
</ul>

<a class="new-content-link" href="/content/new">Add new post</a>
<a class="new-content-link" href="/content/dashboard">Dashboard</a>

<a class="logout-link" href="/logout">Logout</a>
