
<h1>New post</h1>

<form id="new-post-form" action="/content" method="post">

  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>

<a class="logout-link" href="/logout">Logout</a>