<div class="body_not_navbar">
  
<h1>Comments</h1>

  <a class="new-comment-link" href="/posts/new">Add a comment</a>
  <br>

<br>


<br>
<div class="card text-center w-75">
  <div class="card-header"> 
    <h5>USER: {{post.username}}</h5>
  </div>
  <div class="card-body">
    <p class="card-title"> MESSAGE: {{post.message}} </p>
    {{!-- <p class="card-text">Comment</p> --}}
  </div>
</div>


</div>