<ul class="pending-friendships">
  {{#each pendingFriendships}}
    <div>{{this.username}}</div>
  {{/each}}
</ul>

<ul class="accepted-friendships">
  {{#each acceptedFriendships}}
    <div>{{this.username}}</div>
  {{/each}}
</ul>