<p>Here are all the accounts:</p>
<ul reversed class="friends">
  {{#each users}}
  <li>First name: {{this.first_name}} Last name: {{this.last_name}} 
    <form id="add-friend" action="/friends/request" method="post">
      <input type="hidden" id="email" name="email" value="{{this.email}}">
      <input type="submit" value="Add Friend">
    </form>
  </li>
  {{/each}}
</ul>