<h1>Mongeese</h1>
<body>
<ul class="users">
  {{#each users}}
    <li>
      <div class="userSearchResults">
        {{this.userName}}
        <form id="send-friend-request" action="/friends/request" method="post">
          <input type="hidden" name="id" value="{{this._id}}">
          <input id="request-button" class="request-button" type="submit" value="Aquaint">
        </form>
      </div>
      <div>
        <form class="name-of-person"action="/friends/profile" method="post">
          <input type="hidden" name="id" value="{{this._id}}">
          <input id="friends-name" type="submit" value="{{this.userName}}">
        </form>
      </div>
    </li>
  {{/each}}
</ul>
</body>
