<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Image Uploading</title>
</head>

<body>
 <h1>Upload your profile picture</h1>
 <hr>
 <div>
  <form action="/" method="POST" enctype="multipart/form-data">
   <div>
    <label for="name">Image Title</label>
    <input type="text" id="name" placeholder="Name"
     value="" name="name" required>
   </div>
   <div>
    <label for="image">Upload Image</label>
    <input type="file" id="image"
     name="image" value="" required>
   </div>
   <div>
    <button type="submit">Submit</button>
   </div>
  </form>
 </div>

 <hr>


 </div>
</body>

</html>
