<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/sessions?_method=DELETE' method='POST'>
      {{!-- keep this form for later --}}
    </form>
    {{{body}}}
  </body>
</html>
