<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    ðŸ“§ E-mail: {{session.user.email}}
    <div class="navigation-menu">
      <input type="button" class="navigation-button" id="home-button" value="ðŸ  Home" onclick="location.href='/'"></input>
      {{#if session.user.email }}
        <input type="button" class="navigation-button" id="view-posts" value="View Posts" onclick="location.href='/posts/'"></input>
        <form action='/sessions?_method=DELETE' method='POST'>
          <input class="navigation-button" id="sign-out-button" type="submit" value="ðŸšª Sign Out">
        </form>
      {{else}}
        <input class="navigation-button" id="login-button" type="submit" onclick="location.href='/sessions/new'" value="ðŸ”‘ Log In">
        <input class="navigation-button" id="sign-up-button" type="button" onclick="location.href='/users/new'" value="âœï¸ Sign Up">
      {{/if}}
    </div>
    <div class="content">
      {{{body}}}
    </div>
  </body>
</html>
