<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>

  <body>

<nav class="navbar text-dark" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Acebook</span>
    <ul class="nav justify-content-end mb-lg-0">
    {{#if signedIn}}
      {{#unless posts}}
      <li class="nav-item text-dark">
          <a class="nav-link active text-dark" href='/posts'> Timeline </a>
      </li>
      {{/unless}}
      <li class="nav-item">
        <form class="d-flex" action='/sessions?_method=DELETE' method='POST'>
          <input class="form-control me-2" type="submit" value="Log Out">
        </form>
      </li>  
    {{else}}
      {{#unless isLoginPage}}
      <li class="nav-item text-dark">
          <a class="nav-link text-dark" href='/sessions/new'> Log in </a>
      </li>
      {{/unless}}
    {{/if}}
    </ul>
  </div>
</nav> 

  {{!-- <nav> 
    {{#if signedIn}}
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
    {{else}}
      {{#unless isLoginPage}}
    <button> 
      <a href='/sessions/new'> Log in </a>
    </button>
      {{/unless}}
    {{/if}}
  </nav> --}}

    {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
