<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>
      <a id="home-button" href="/posts">Acebook</a>
      {{! redirects to log-in if not logged in}}
      {{! https://handlebarsjs.com/guide/builtin-helpers.html }}
      {{#if session.user}}
        <a href="/posts/new">Make a post</a>
        <a id="settings-navbar" href="/settings">Settings</a>
        <form action="/sessions?_method=DELETE" method="POST">
          <input id="logout" type="submit" value="Log Out" />
        </form>
      {{else}}
        <a href="/sessions/new">Log-in</a>
        <a href="/users/new">Sign-up</a>
      {{/if}}
    </p>
    {{{body}}}
  </body>
</html>