<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul class="posts">
        <li>Home</li>
          {{#if userLoggedIn}}
            <li>
              <form action='/sessions?_method=DELETE' method='POST'>
                <input type="submit" value="Log out">
              </form>
            </li>                 
          {{else}}
            <li>    
              <form action='/sessions/new' method='GET'>
                <input type="submit" value="Log in">
              </form>
            </li>   
          {{/if}}
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>