<!DOCTYPE html>
<!-- search bar added -->
<html>
<!-- search bar style ends here -->
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <section>
    <nav>
      <h3 id="appTitle">
        {{#if user}}
          <a href="/posts">Acebook</a>
        {{else}}
          <a href="/">Acebook</a>
        {{/if}}
      </h3>
      <div class="nav-links">
        <ul>
          <li id="registration">
            {{#if user}}
            <div class="loggedInNav">
              <a href="/posts">Timeline</a>
              <a href="/friends">Friends</a>
              <form action='/sessions?_method=DELETE' method='POST'>
                <input type="submit" id="logOut" value="Log Out">
              </form>
            </div>
              
            {{else}}
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/sessions/new">Log In</a></li>
            {{/if}}
          </li>
        </ul>
      </nav>
    </section>
    {{{body}}}
  </body>
</html>
