<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav" style="display: {{ trueToNone hideNavbar }};">
      <a  href="/">Home</a>
      <a href="/posts/">My Feed</a>
      <a href="/users/profile/{{ user.username }}">My Profile</a>
      <form action='/sessions?_method=DELETE' method='POST'>
        <input type="submit" value="Log Out">
      </form>
      <input type="text" placeholder="Search..">
    </div>
    <div class="dead-pixel"></div>
    {{!-- <form action='/sessions?_method=DELETE' method='POST'>
    <input type="submit" value="Log Out">
    </form>  --}}
    {{{body}}}
  </body>
</html>
