<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>
  <body>
  <nav class="nav">
      <div class="container">
          <div class="logo">
              <a href="/">Acebook</a>
          </div>
          <div class="main_list" id="mainListDiv">
              <ul>
                  {{#unless loggedIn}}
                    <li><a href="/users/new">Sign Up</a></li>
                    <li><a href="/sessions/new">Sign In</a></li>
                  {{/unless}}
                  {{#if loggedIn}}
                    <li><a href="/posts">Posts</a></li>
                    <form action='/sessions?_method=DELETE' method='POST'>
                      <input type="submit" value="Log Out">
                    </form>
                    <li>{{username}}</li>
                  {{/if}}
              </ul>
          </div>
          <div class="media_button">
              </button>
          </div>
      </div>
  </nav>
    
    {{{body}}}
  </body>

  

</html>
