<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const path = window.location.pathname
        if (['/sessions/new', '/users/new'].includes(path)) document.querySelector('#log_out_form').remove()
      })
    </script>
  </head>
  <body>
    <div class="header">
      <h1>Acebook</h1>
    </div>
    
    <div class="under_header">a</div>
    <form id="log_out_form" action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
    {{{body}}}
  </body>
  <div class="nav-bar">
      <p>Navigation</p>
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/sessions/new">Login</a>
      <a href="/users/profile" id="profile-link">Profile</a>
    </div>
</html>
