<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- commented out, as log out button only needed in views/posts --}}
    {{!-- <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form> --}}
    {{{body}}}
  </body>
</html>
