<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>


{{!-- NAV BAR --}}
<section class="header">
    <nav class="nav-bar" id="navLinks">
        {{#if user}}
            <a class="navbar-logo" title="Timeline" href="/posts"><img src="/images/acebook-logo.png" alt="logo"></a>
        {{/if}}

        {{#if user}}
            <a class="hoverable" href="/posts/new"><i class="fa-regular fa-pen-to-square"></i></a>
            <a class="hoverable" href="/posts">TIMELINE</a>
            <a class="hoverable" href="/users/all">FIND A PROFILE</a>
            <a class="hoverable"
               onclick="fetch('/sessions', {method: 'DELETE', redirect: 'manual'}).then(() => location.reload(true))">
                LOG OUT</a>

            <img class="profile-pic nav-profile-pic"
                 src="/users/photo/{{user._id}}"
                 alt="profile picture"
                 onclick="window.location.href='/users/profile'">
        {{else}}
            <span class="navbar-logo"> </span>
            <a class="hoverable" href="/sessions/new">LOGIN</a>
            <a class="hoverable" href="/users/new">SIGN UP</a>
        {{/if}}
    </nav>

</section>
{{!-- PAGE BODY HBS --}}
<section class="body">
    {{{body}}}
</section>
</body>
<script src="https://kit.fontawesome.com/75c18a30ec.js" crossorigin="anonymous"></script>
</html>