<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>
  </head>

  <header>
    <a href="/">
      <img src="/images/finallogo.PNG" class="logo" alt="AceBook Logo">
    </a>
    <h1>Welcome to <br> AceBook.com!</h1>
  </header>

  <body>
    <div class="navbar"> 
      <a href="/"> Home </a>
      <a href="/posts"> Timeline </a>
      <a href="/users/new"> Sign-up </a>
      <a href="/sessions/new"> Log-in </a>
    </div>
    <form action='/sessions?_method=DELETE' method='POST'></br>
      <input type="submit" value="Log Out">
    </form>
    {{{body}}}
  </body>
</html>
