<html>
  <head>
    <title>{{title}}</title>
<<<<<<< HEAD
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link type="image/x-icon" rel="icon" href="https://2vvkl84czfcv3uc0ukz7sgl1-wpengine.netdna-ssl.com/wp-content/uploads/2021/04/favicon-1.png">
=======
    <link rel="stylesheet" href="/stylesheets/style.css" />
>>>>>>> master
  </head>
  <body>
    <nav>
      <ul>
        <li style="font-size: 2rem;"><a href="/">Acebook</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/posts/new">New Post</a></li>
        <li><a href="/sessions/new">Sign Up</a></li>
        <li><a href="#">Log in</a></li>
        <li style="float: right;">
          <a>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Out" />
            </form></a>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>