<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <h1>Acebook</h1>
    </div>
    <div class="under_header">a</div>
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
    {{{body}}}
    <div class="nav-bar">
      <p>Navigation</p>
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/sessions/new">Login</a>
    </div>
  </body>
</html>
