<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>

  <header>
    <a href="/">
      <img src="/images/acelogo.PNG" class="logo" alt="AceBook Logo">
    </a>
    <h1 class="header1">AceBook</h1>
  </header>

  <body>
    <div class="navbar"> 
      <a href="/"> Home </a>
      <a href="/posts"> Timeline </a>
      <a href="/users/profile"> Profile </a>
      <form class="log-in" action='/sessions/new' method='get'></br>
          <input type="submit" value="Log In">
        </form>
        <form class="pull-left" action='/sessions?_method=DELETE' method='POST'></br>
          <input type="submit" value="Log Out">
        </form>
      </a>
      
    </div>
    
    {{{body}}}
  </body>
</html>
