

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    
  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Log Out" />
  </form>
    
  <form action="/sessions/new" method="GET">
    <input type="submit" value="Log in" />
  </form>    
    
  <form action="/users/new" method="GET">
    <input type="submit" value="Sign up" />
  </form>


  <form action="/" method="GET">
    <input type="submit" value="Home page" />
  </form>

  <form action="/posts" method="GET">
    <input type="submit" value="Posts" />
  </form>

  <form action="/profile/62d7d0a620dd493f03e04bb7" method="GET">
    <input type="submit" value="Profile" />
  </form>

    
   
    {{{body}}}
  </body>
</html>