<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/users/new' method='GET'>
      <input id="signup" type="submit" value="Sign up">
    </form>
    <form action='/sessions/new' method='GET'>
      <input id="login" type="submit" value="Log in">
    </form>
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
    {{{body}}}
  </body>
</html>
