<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      <nav>
        <a id="appTitle" href="/">Acebook</a>
        <div class ="nav-links">
          <ul>
            {{#if user}}
              <li><a href="">Home</a></li> <!--- need to fill out these pages--->
              <li><a href="">Friends</a></li>
              <li><form action='/sessions?_method=DELETE' method='POST'>
              <input type="submit" id="logOut" value="Log Out">
              </form></li>
            {{else}}
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/sessions/new">Log In</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </section>
    {{{body}}}
  </body>
</html>
