<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    E-mail: {{session.user.email}}
    {{#if session.user.email }}
    <form action='/sessions?_method=DELETE' method='POST'>
      <input id="sign-out-button" type="submit" value="Sign Out">
    </form>
    {{else}}
    <form action='/sessions/new' >
      <input id="login-button" type="submit" value="Log In">
    </form>
    <form action='/users/new'>
      <input id="sign-up-button" type="submit" value="Sign Up">
    </form>
    {{/if}}
    {{{body}}}
  </body>
</html>
