<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    <header>
      <div class="navbar">
        <div class="header_buttons">
          <a id="home" href="/" class="header_button" style="text-decoration: none"><i class="fa-solid fa-house"></i> Home</a>
          <a id="timeline" href="/posts" class="header_button" style="text-decoration: none"> Timeline</a>
          <form action='/sessions?_method=DELETE' method='POST'>
            <input id="log-out" class="header_button" style='font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;' type="submit" value="Log Out">
          </form>
         </div>
        </div>
        </div>
      
      
    </header>

    {{{body}}}
    <script src="https://kit.fontawesome.com/d88bffd7d7.js" crossorigin="anonymous"></script>
  </body>
</html>



