<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
    {{!-- <script async src="/javascripts/index.js"></script> {{connects public/js/index }} --}}
    {{{body}}}
  </body>
</html>
