<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/likeOnOff.js"></script>
  </body>
</html>