<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- nav bar test --}}
    <div class="topnav">
      <a  href="/">Home</a>
      <a href="/posts/">My Feed</a>
      <a href="/users/profile/{{ user.username }}">My Profile</a>
      <a style="float: right;" href="#" id="log-out">Log out</a>
      <input type="text" placeholder="Search..">
    </div>

    <div class="dead-pixel"></div>

    <form style="display: none;" action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" id="actual-log-out" value="Log Out">
    </form>

    <script>
      // I apologize for the horrendous code below.
      document.getElementById('log-out').addEventListener('click', function(e) {
        document.getElementById('actual-log-out').click();
      });
    </script>

    {{{body}}}
  </body>
</html>
