<!DOCTYPE html>
<html>
  <head>
      {{!-- <div class="container" rel="stylesheet" href="stylesheet.css"> --}}

    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

<ul>
  <li><a><form action='/sessions?_method=DELETE' method= 'POST'> 
  <input type="submit" value="Log Out"></a></li>
</ul>

{{!-- <div class="nav-bar-1">
  <form action='/sessions?_method=DELETE' method='POST'>
    <input type="submit" value="Log Out">
  </form>
  </div>

<div class="nav-bar-2">
  <form action="/">
    <input type="submit" value="Home">
  </form>
  </div>

<div class="nav-bar-3">
  <form action="/users/new">
    <input type="submit" value="new user">
  </form>
  </div>

<div class="nav-bar-4">
  <form action="/users/new">
    <input type="submit" value="posts">
  </form>
  </div>

<div class="nav-bar-5">
  <form action="/sessions/new">
    <input type="submit" value="login">
  </form>
  </div> --}}

<h1></h1>
  <body>
    {{{body}}}
  </body>
</html>
