<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    <header>
      
    </header>
    {{> navbar}}
    {{{body}}}
    <script src="https://kit.fontawesome.com/d88bffd7d7.js" crossorigin="anonymous"></script>
  </body>
</html>



