<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>
  </head>
  <body>
  
    <div class="navigation-menu">
      <div> 
        <a href="/">
         <img style="padding:10px" alt="Logo for Acebook" src='/images/acebook_logo_2.png'
         width="150" height="145">
        </a>
      </div>
      <br>
      <br>
      {{#if session.user.email }}
      <h4>ðŸ“§ Account:</h4>{{session.user.email}}
      {{/if}}
      <br>
      <br>
      {{!-- removed home button--}}
      {{#if session.user.email }}
        <input type="button" class="navigation-button" id="view-self-profile" value="Profile Page" onclick="location.href='/users/profile'"></input>
        <br>
        <input type="button" class="navigation-button" id="view-posts" value="ðŸ“œ Posts" onclick="location.href='/posts'"></input>
        <form action='/sessions?_method=DELETE' method='POST'>
          <input class="navigation-button" id="sign-out-button" type="submit" value="ðŸšª Sign Out">
        </form>
      {{else}}
        <input class="navigation-button" id="login-button" type="submit" onclick="location.href='/sessions/new'" value="ðŸ”‘ Log In">
        <br>
        <input class="navigation-button" id="sign-up-button" type="submit" onclick="location.href='/users/new'" value="âœï¸ Sign Up">
      {{/if}}
      <div> 
        <p>Powered by<br>Dent, Alimi, Pala,<br>Chan, Saeed & Johnson<p>
      </div>
    </div>
    <div class="content">
      {{{body}}}
    </div>
  </body>
</html>
