<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  </head>
  
  <body style="z-index: 0" >
   nav bar here 
    <p><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Toggle Menu</span><p> 
   <nav id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/users/profile" >My Profile Page</a></li>
      <a href="/posts" >Posts</a></li>
      <a href="/users/search" >Search</a></li>
      <a href="/users/logout" >Log out</a></li>

    <p><small>© We Push Master | Website created with much toil, blood & sweat!</small></p>  
   </nav>
  
 
      
    <nav>   
     
     

    {{{body}}}
    
  </body>

<script type="text/javascript" src="/javascripts/toggle.js"></script>
</html>
