<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav> 
    {{#if signedIn}}
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
    {{else}}
      {{#unless isLoginPage}}
    <button> <a href='/sessions/new'> Log in </a></button>
      {{/unless}}
    {{/if}}
  </nav>
    {{{body}}}
  </body>
</html>
