<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- if logged in -> see welcome message with name and the logout button --}}
    {{!-- if not logged in -> see login button and message telling you to login --}}
    
      {{#if newUser}}
        <p>You need to login.</p>
      {{else}}  
       <p>Hello, {{current_user}}, you are logged in.</p>
       <a id='profile-link' href="/posts/profile">View your profile</a>
        <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
        </form>
          
      {{/if}}    

    <div>Share your life with your friends!</div>

    {{{body}}}
  </body>
</html>
