<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
        <ul>
          <li><a href='/posts'>Home</a></li>
          <li><a href='/posts/myposts'>My Posts</a></li>
          <li><a href='/users/messages'>Messages</a></li>
          <li><a href='/users/friends'>Friends</a></li>
          <li><a href='/users/notifications'>Notifications</a></li>
          <li><a href='/users/profile'>Profile</a></li>
          <div class="nav-right">
          Hello, {{user.firstName}} {{user.lastName}} <br>
          <li> <form action='/sessions?_method=DELETE' method='POST'>
        <input id="log_out" type="submit" value="Log Out"></div>
      </form></li>
        </ul>
      </div>
      </nav>
      </body>
    
    {{{body}}}
    
  </body>
</html>

