<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="navbar"> 
      <a href="/"> Home </a>
      <a href="/posts"> Timeline </a>
      <a href="/users/new"> Sign-up </a>
      <a href="/sessions/new"> Log-in </a>
    </div>
    <form action='/sessions?_method=DELETE' method='POST'></br>
      <input type="submit" value="Log Out">
    </form>
    {{{body}}}
  </body>
</html>
