{{!-- <html>
<head>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background: url(http://wallpapercave.com/wp/aZlqiAT.png) 50% 50% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
}
nav {
  width: 180px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}
nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}
a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:hover { background: #FFE082; }
a:active { background: #FFCA28; }
.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}
.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}
.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}
.navicon div:before { top: -7px; }
.navicon div:after { top: 7px; }
</style>
</head>
<body>
<h1 style="text-align:center"> MakersBNB</h1>
<nav>
  <div class="navicon">
    <div></div>
  </div>
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
  <a href="/account">Account</a>
  <a href="/listings">All Listings</a>
  <a href="/listings/newlisting">Make a listing</a>
    <a href="/logout">Logout</a>

</nav>
</body>
</html> --}}