<html>
  <head>
    <title>You have an Error</title>
    <link rel="stylesheet" type="text/css" href="../../public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
  </head>

  <style>
    body {
      background-image: url('https://lageniusinfo.com/wp-content/uploads/2018/09/404.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: 70%;
    }
</style>

<body>

<h1 style=" text-align: center; color: rgb(29, 126, 216); font-family: 'Bungee', cursive">{{ error }}</h1>

<form action="/" >
    <button style="margin-top: 50em; background-color: #337ab7; border-color: #2e6da4" class="waves-effect btn btn-primary btn-block" type='submit'> Homepage </button>
</form>
</body>
</html>
