<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/sessions/new' method='GET'>
      <input id="signin" type="submit" value="Sign In">
    </form>
    {{{body}}}
  </body>
</html>