<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
  <body>
    <!-- Navbar section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">Acebook</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                
                <li class="navbar__btn">
                  <form action='/sessions/new' method='GET'>
                    <input id="signin" class="button" type="submit" value="Sign In">
                  </form>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}
  </body>
</html>