title-color {
  background-color: lightblue;
  color: red;
}

body {
  background-color: lightblue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* .nav-bar-1 {
  width: 2000px;
  height: 22px;
  margin: 0;
  float: left;
  width:95px;
  height:22px;
  background-color: purple;
  text-align:center;
}

.nav-bar-2 {
  width: 2000px;
  height: 22px;
  margin: 0;
  float: right;
  width:95px;
  height:22px;
  background-color: purple;
  text-align:center; */
/* } */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}