<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Sign up</h2>
<form id="username" action="/user" method="post" enctype='multipart/form-data'>
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" value="Sign up">
</form>
