<form id="new-login-form" action="/user/login" method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="" required>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" value="" required>
  <input type="submit" id="submit" value="Submit">
   <p>{{msg}}</p>
</form>