<h1 class="title"> Login </h1>

<form id="login-form" action="/signup/login" method="post">
  <label for="email">E-mail: </label>
  <input id="email" type="text" name="email" value="">

  <label for="password">Password: </label>
  <input id="password" type="text" name="password" value="">

  <input type="submit" value="Login">
</form>

<form class="" action="/signup" method="get">
  <input type="submit" name="signup" value="Sign Up">
</form>
