<form id="new-user-form" action="/user/new" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" value="" required>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" value="" required>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="" required>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" value="" required>
  <input type="submit" id="submit" value="Submit">
   <p>{{msg}}</p>