<form id="new-user-form" action="/user/new" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" value="">
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" value="">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="">
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" value="">
  <input type="submit" value="Submit">
</form>
