<form action="/user/profile" method="post" enctype="multipart/form-data">
  <label for="image">Upload Image</label>
  <input type="file" id="image" name="image" value="" required></input>
  <input type='submit' value='Upload'></input>
</form>
