<h1>Chipmunk travel</h1>

<form id="login-form" action="/user/signin" method="post">
  <label for="name">Name </label>
  <input id="name" type="text" name="name" required>
  <% if(errorMessage) {%>
    <%= errorMessage %> <% }%>
  <label for="name">Password </label>
  <input id="password" type="password" name="password" required>
  <input type="submit" value="Sign in">
</form>
