<h1 class="title"> Sign up </h1>

<form class="loginForm" id="new-user-form" action="/signup" method="post">
  <label for="firstName">First Name: </label>
  <input id="firstName" type="text" name="firstName" value="">

  <label for="lastName">Last Name: </label>
  <input id="lastName" type="text" name="lastName" value="">

  <label for="email">E-mail: </label>
  <input id="email" type="text" name="email" value="">

  <label for="password">Password: </label>
  <input id="password" type="text" name="password" value="">

  <input type="submit" class="button" value="Submit">
</form>

<br>
