<h1 class="title"> {{title}} </h1>

<form id="new-user-form" action="/signup" method="post">
  <label for="firstName">First Name: </label>
  <input id="firstName" type="text" name="firstName" value="">
  <input type="submit" value="Submit">
</form>
