<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Sign up</h2>
<form id="new-user-form" action="/user" method="post" >
	<input type="text" id="username" name="username" placeholder="username">
	<input type="text" id="password" name="password" placeholder="Password">
	<input type="submit" value="Sign up">
</form>
