<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

    body{
      background-image: url(https://images.unsplash.com/photo-1534447677768-be436bb09401?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1494&q=80);
      background-size: cover;
    }

    .rhysEgg{
      font-family: 'Oswald', fantasy;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .rhysTitle{
      color: aliceblue;
      padding-bottom: 15px;
    }
    
    .aprCon{
      color: aliceblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #chimeraAPR{
      font-size: 2em;
    }
  </style>
</head>

<div class="rhysEgg">
  <div class="rhysTitle">
  <h1>Welcome to {{title}}</h1>
</div>

<div class="GIFCon">
  <iframe src="https://giphy.com/embed/Y01jP8QeLOox2" width="480" height="349" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

<small>Thanks Makers for this Project</small>

<div class="aprCon">
  <p><i class="uil uil-github-alt"></i>: Visit my GitHub <a href="https://www.github.com/RhysFJohn">RhysFJohn</a></p>
  <br>
  <p id="chimeraAPR">We did a good job, Chimera Team!</p>
</div>
</div>