/* Forms */

.input-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-button {
  width: 100%;
  background-color: #0175e4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-text2 {
  width: 275px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-button2 {
  width: 100px;
  background-color: #0175e4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.choose-file-btn {
    display: inline-block;
    padding: 14px 0px;
    cursor: pointer;
    width: 175px;
}


.comment-like-button {
  width: 100px;
  background-color: #0175e4;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  position: relative;
  text-align: center;
}

.sign-form {
  display: inline-block;
  width: 50%;
  border: rgb(216, 216, 216) solid 2px;
}

#new-session-form {
  display: inline-block;
  width: 60%;
}

#new-user-form {
  display: inline-block;
  width: 50%;
}


.title-container {
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}


.photos {
  height: 200px;
}


.submit-post-container {
  position: relative;
  text-align: center;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}