#logout-button {
  visibility: hidden;
}

#login-button {
  visibility: hidden;
}

/* #homepage-button {
  visibility: hidden;
} */

#posts-button {
  visibility: hidden;
}

#signup-button {
  visibility: hidden;
}
