* {
  padding: 0;
  margin: 0;
  font-family: "Optima", sans-serif;
}
body {
  background-color: #edf2f4;
  color: #2b2d42;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

header {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  background-color: #2b2d42;
  color: #edf2f4;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: #2b2d42;
  color: #edf2f4;
  text-align: center;
}

span {
  display: flex;
  align-self: center;
}

span.site_logo {
  padding: 0%;
  color: #edf2f4;
}

div.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: #8d99ae;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
  margin-top: 10%;
  font-style: italic;
}
