@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(
    -225deg,
    rgb(183, 248, 219) 0%,
    rgb(80, 167, 194) 100%
  );
  position: relative;
}

::selection {
  background: #4158d0;
  color: #fff;
}

.error {
    padding: 10px;
}

.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  margin: 100px;
}

.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: radial-gradient(
    circle at 7.1% 15.6%,
    rgb(22, 160, 133) 0%,
    rgb(64, 240, 206) 100.3%
  );
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .content input {
  width: 15px;
  height: 15px;
  background: red;
}

form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .content {
  color: "";
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: radial-gradient(
    circle at 7.1% 15.6%,
    rgb(22, 160, 133) 0%,
    rgb(64, 240, 206) 100.3%
  );

  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .new-user {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form a,
form .new-user a {
  color: #00b7ff;
  text-decoration: none;
}

form a:hover,
form .new-user a:hover {
  text-decoration: underline;
}

form .made-user {
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }
  
form a, 
form .made-user a {
    color: #00b7ff;
    text-decoration: none;
}
  
form a:hover,
form .made-user a:hover {
    text-decoration: underline;
  }
  