* {
  padding: 0;
  margin: 0;
  font-family: "Optima", sans-serif;
}

body {
  background-color: #edf2f4;
  color: #2b2d42;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

header {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  background-color: #2b2d42;
  color: #edf2f4;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: #2b2d42;
  color: #edf2f4;
  text-align: center;
}
input.logout {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #00b7ff !important;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

span {
  align-self: center;
  display: flex;
}

span.request {
  display: flex;
  align-self: left;
  align-items: center;
}

span.site_logo {
  padding: 0%;
  color: #edf2f4;
}
span.user-pic {
  display: flex;
  width: 100%;
  font-size: 120%;
  align-items: center;
}

div.likes-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.content {
  margin: auto;
  margin-top: 0%;
  text-align: center;
  box-shadow: #8d99ae;
  padding-top: 10%;
  padding-bottom: 15%;
}

div.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: solid black 3px;
  margin-right: 10px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-top: 3%;
}

div.post {
  text-align: left;
  border-bottom: #2b2d42 solid 2px;
  margin-bottom: 10px;
  padding: 20px;
}

.posts {
  border: 1px solid grey;
  border-style: solid;
  border-radius: 8px;
}

.title {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 500px;
}

.space-evenly {
  justify-content: space-between;
}

form {
  padding: 10px;
  color: #00b7ff;
  text-decoration: none;
  align-content: center;
}

.custom-file-upload {
  align-self: center;
  display: inline-block;
  background-color: #2b2d42;
  color: #edf2f4;
  padding: 3px 12px;
  cursor: pointer;
  margin-bottom: 5%;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

div.profile-photo {
  overflow: hidden;
}

form.button {
  padding: 0;
}

/* responsive */

/* For mobile phones: */
@media only screen and (max-width: 599px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
