*{
    padding: 0;
    margin: 0;
}

body {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #edf2f4;
    color: #2B2D42;
}
  
a {
    color: #00B7FF;
    text-decoration: none;
}

header{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #2B2D42;
    color:#edf2f4;
    justify-content: space-between;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 10000;
  }

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    background-color: #2B2D42;
    color:#edf2f4;
    text-align: left;
}

span.request {
    display: flex;
    align-self: left;
    align-items: center;
}

span.site_logo {
    padding: 0%;
    color: #edf2f4;
    height: 100%;
}
span.user-pic{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

div.likes-comments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.content {
    width: 50%;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    box-shadow: #8D99AE;
    overflow-y: scroll;
}

div.profile-photo{
    width:50px;
    height:50px;
    border-radius: 30px;
    border: solid black 3px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-top: 5%;
}

div.post {
    text-align: left;
    border-bottom: #2B2D42 solid 2px;
    margin-bottom: 10px;
    padding: 20px;
}

.posts{
    border: 1px solid grey;
    border-style: solid;
    border-radius: 8px;
}

.title {
    display: flex;
    font-size: 25px !important;
    justify-content: space-between;
}

hr {
    width: 500px;
}

.space-evenly {
    justify-content: space-between;
}