html,body{
    margin: 0;
    padding: 0;  
    font-family: 'Montserrat', sans-serif;
    background-color: #EDF0F5;
  }
  a{
    text-decoration: none;
    color: #3B5998;
  }
  .container{
    width: 980px;
    margin: auto;
  }
  #header{
    background-color: black;
    height: 83px;
  }
  #header .logo{
    padding-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    display: inline-block;  
  }
  #header .logo a{
    color: white;
    text-decoration: none;
  }
  .smallc {
    font-size: 15px;
    font-style: normal;
  }
  #header .login{
    display: inline-block;
    margin-top: 10px; 
  }
  #header .login .top-row{
    color: white;
    font-size: 12px;
  }
  #header .login .middle-row input{
    height: 19px;
    width: 140px;
    margin-right: 10px;
    border: 1px solid #1d3c7d;
  }
  #header .login .middle-row button{
    background-color: #6da653;
    color: white;
    font-weight: 600;
    border: 1px solid #6da653;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
  }
  #header .login .bottom-row{
    color: #c5cfe3;
    font-size: 12px;
    margin-top: 15px;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    margin: 0;
    padding: 0; }
  
  /*    -- Navbar --    */
  .nav {
    background-color: #343a40;
    height: 56px;
    display: -ms-grid;
    display: grid;
    align-content: center; }
  
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
    grid-template-columns: 1fr 200px;
    height: 40px; }
  
  .logo {
    margin: 5px 0 0 50px;
    fill: white;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
            transform-origin: center; }
  
  .logo:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  
  .logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 50px;
    grid-template-columns: 150px 50px;
    height: 40px; }
  
  .logo-text {
    margin: 5px 0 0px -70px;
    color: white;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
            transform-origin: center; }
  
  .logo-text:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  
  .menu-container {
    height: 40px; }
  
  .menu-icon {
    color: white;
    font-size: 40px;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
            transform-origin: center;
    width: 25px;
    margin: 0px 0 0px 50px;
    padding: -5px 5px -5px 5px;
    text-decoration: none;
    /*
    fill: #9da0a2;
  
  
  
    */ }
  
  .menu-icon:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  
  .nav-link {
    text-decoration: none; }
  
  /*    - Heading -    */
  .heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center; }
  
  .heading-title {
    margin: 100px 0 20px 0;
    font-size: 40px; }
  
  .heading-text {
    text-align: center;
    font-size: 20px;
    padding: 0 20vw 0 20vw;
    color: #6c7781;
    line-height: 1.6; }
  
  .header-buttons {
    text-align: center;
    margin-top: 22px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 220px;
    grid-template-columns: 220px 220px;
    justify-content: center;
    grid-gap: 5px; }
  
  .primary-button {
    font-size: 17px;
    height: 38px;
    color: white;
    background-color: #0679fc;
    border-radius: 5px; }
  
  .secondary-button {
    font-size: 17px;
    height: 38px;
    color: white;
    background-color: #6b757d;
    border-radius: 5px; }
  
  .add-cursor:hover {
    cursor: pointer; }
  
  /*    - Cards -    */
  .cards {
    background-color: #f8f9fa;
    padding: 48px 0 48px 0;
    margin: 80px 0 0 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 208px);
    justify-content: center;
    grid-gap: 25px; }
  
  .card {
    background-color: white;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
  
  .thumbnail {
    height: 225px;
    display: -ms-grid;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    background-color: #54595c;
    color: white;
    border-radius: 4px 4px 0 0; }

  img {
      height: 225px;
    width: 190px;
  align-self: end; }
  
  .card-text {
    padding: 20px;
    font-size: 18px; }
  
  .card-buttons {
    display: grid;
    padding: 15px; }
  
  .card-button-1 {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: white;
    opacity: 1; }
  
  .card-button-2 {
    display: grid;
    align-content: center;
    justify-content: center;
    opacity: 1; }
  
  .card-bottom-text {
    text-align: right;
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
    opacity: 0.6; }
  
  .hover-effect {
    -webkit-transition: all .2s;
    transition: all .2s; }
  
  .hover-effect:hover {
    background-color: #54595c;
    color: white; }
  
  /*    - Footer -    */
  .footer {
    -ms-grid-columns: 1fr .5fr;
    grid-template-columns: 1fr .5fr;
    align-items: center;
    padding: 0 100px 0 100px;
    opacity: .7;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 100px;
   }
  
  .footer-link {
    text-decoration: none;
    color: #0d47a1; }
  
  .back-top {
    text-align: right; }
  .postarea {
    text-align: center;
  }
  .logoutbutton {
    text-align: right;
    margin-top: -35px;
  }

.comments {
    display: none;
}
.mars {
  text-align: center;
}
.new-post-link {
  text-align: center;
  margin-left: 650px;
  padding-left: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.imagebutton {
  text-align: center;
}