body {
  text-align: centre;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: blue;
   height: 750px;
 }

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: blue;
}
