* {
  padding: 0;
  margin: 0;
  font-family: "Optima", sans-serif;
}

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  align-items: center;
  width: 50%;
}

body {
  background-color: #edf2f4;
  color: #2b2d42;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #8d99ae42;
}

.password-field,
.email-field,
.username-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Optima", sans-serif;
}

input[type="submit"] {
  border-radius: 10px;
  background-color: #2b2d42;
  color: #edf2f4;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 106%;
  opacity: 0.9;
  font-family: "Optima", sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

header {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  background-color: #2b2d42;
  color: #edf2f4;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: #2b2d42;
  color: #edf2f4;
  text-align: center;
}

span {
  align-self: center;
  display: flex;
}

span.site_logo {
  padding: 0%;
  color: #edf2f4;
}
