:root {
  --main-color: #e30b5d;
  --hover-color: #aa114c;
  --main-grey: rgb(236, 236, 236);
}

/* Global Tags */
body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--hover-color);
}

hr {
  height: 1px;
  border: none;
  background-color: black;
}

.input-box {
  padding: 1vh;
  margin: 0.5vh;
  border-radius: 30vh;
  border: none;
  background-color: var(--main-grey);
}

.input-area {
  border: none;
  border-radius: 2vh;
  padding: 3vh;
  background-color: var(--main-grey);
}

.global-button {
  padding: 1vh 2vh;
  margin: 0.5vh;
  border-radius: 30vh;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 1.3vh;
}

.global-button:hover {
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
}

.logout {
  margin-right: 4vh;
}

.new-content,
.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: var(--main-grey);
}

.new-content {
  height: auto;
  padding: 10vh;
} 

.white-box {
  background-color: white;
}

.timeline {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 68vh;
  width: auto;
}

/* Banner */
.banner {
  text-align: center;
}

/* Navbar */
.timeline-navbar {
  position: fixed;
  top: 0;
  width: 98%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1vh;
  border-width: 1px;
  background-color: white;
  position: fixed;
  z-index: 2;
}

.topbar,
.bottombar {
  display: flex;
  align-items: center;
}

.topbar {
  justify-content: space-between;
}

.bottombar {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1vh;
}

.bottombar {
  font-size: 1.3vh;
}


/* Initials Icon */
.initials {
  display: flex;
  margin: 0.5vh;
  padding: 3vh;
  border-radius: 40vh;
  background-color: #e30b5d;
  color: white;
  height: 4vh;
  width: 4vh;
  justify-content: center;
  align-items: center;
}

/* navbar media query */
@media (max-width: 768px) {
  .timeline-navbar {
    flex-direction: column; /* Stack elements as a column */
    align-items: center; /* Center align items */
    padding: 0.3rem; /* Adjust the padding to make the navbar smaller */
    margin-bottom: 5vh;
    /* Reduce the margin-bottom to decrease the gap */
  }

  .topbar {
    flex-direction: column; /* Stack items as a column */
    align-items: center; /* Center align items */
  }

  .bottombar {
    margin-bottom: 1vh; /* Reduce the margin-bottom to decrease the gap */
  }

  .logout {
    margin-top: 0;
    margin-left: 5vh; /* Reduce the margin-left to decrease the gap */
    font-size: 0.8rem; /* Reduce the font size of the logout button */
  }
  .title {
    margin: 20px 0 20px 0;
  }
}

/* Landing Page */
.title {
  font-size: 10vh;
  color: var(--main-color);
}

.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.left-container,
.right-container {
  height: 50vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10vh;
}

.left-container h1,
.left-container p {
  margin: -0.1em 0;
}

.right-container hr {
  width: 20vh;
}

.right-container a {
  padding: 1vh;
}
/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .left-container,
  .right-container {
    height: auto;
    width: 90vw; /* Adjusted width for smaller screens */
    margin: 2vh 0;
  }

  .homepage-content {
    flex-direction: column; /* Stacking containers as column */
  }
  .title {
    font-size: 7vh; /* Adjusted font size for smaller screens */
  }
}
/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .left-container,
  .right-container {
    height: auto;
    width: 90vw; /* Adjusted width for smaller screens */
    margin: 2vh 0;
  }

  .homepage-content {
    flex-direction: column; /* Stacking containers as column */
  }
  .title {
    font-size: 7vh; /* Adjusted font size for smaller screens */
  }
}

/* New Session Page */
#new-session-form {
  display: flex;
  flex-direction: column;
}

/* New User Page */
#new-user-form {
  display: flex;
  flex-direction: column;
}

.password-requirement {
  font-size: 12px;
}

.icon-select {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
  padding: 1vh;
  writing-mode: vertical-rl;
  align-content: center;
  justify-content: center;
}

.large-icon {
  font-size: 4vh;
  height: 6vh;
  width: 6vh;
  padding: 2vh;
  background-color: #e30b5d;
  border-radius: 10vh;
}

/* Posts Page */
.posts {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  padding: 2vh;
  width: 60vh;
  border-radius: 3vh;
  background-color: white;
}

.nemesis-icon {
  position: absolute;
  margin-left: 4vh;
  margin-top: -1vh;
  z-index: 1;
}

.post-gif {
  max-width: 41.9vh;
  height: auto;
  border-radius: 1vh;
}

.post-sec {
  display: grid;
  grid-template-rows: 30% 70%;
}

.post-icon {
  display: flex;
  font-size: 3vh;
  height: 4vh;
  width: 4vh;
  padding: 1vh;
  background-color: #e30b5d;
  border-radius: 10vh;
  align-items: center;
}

.author {
  display: flex;
  padding: 2vh;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  height: 7vh;
  width: 7vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.post-details {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.message {
  width: 40vh;
  grid-row: 1;
  max-width: 40vh;
  padding: 1vh;
  word-wrap: break-word;
  border-radius: 1vh;
  background-color: rgb(236, 236, 236);
}

.likes {
  display: flex;
  width: auto;
  justify-content: start;
  align-items: center;
}

#like-post {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.comment-sec {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  align-items: center;
}

.commentor-name {
  margin-right: 1vh;
  color: var(--main-color);
}

.comment-content {
  max-width: 40vh;
  word-wrap: break-word;
}

.post-comment-sec {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.comment-box {
  width: 40vh;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .posts {
    width: 70vw; /* Adjust the width to fit smaller screens */
    margin: 2vh auto; /* Add some margin to center the main box */
  }

  .post-sec {
    grid-template-rows: auto; /* Reset grid template rows to allow stacking */
  }

  .author {
    margin: auto; /* Center the author element */
    height: 5vh; /* Reduce the height of the author circle */
    width: 5vh; /* Reduce the width of the author circle */
    font-size: 12px; /* Adjust the font size for the author */
  }

  .post-details {
    align-items: center; /* Center align the post details */
  }

  .message {
    width: 80%; /* Expand the message to fit the container */
    max-width: none; /* Reset the max-width */
    overflow-wrap: break-word; /* Add this line to wrap long words */
  }

  .likes {
    justify-content: center; /* Center align the likes */
  }

  .comment-sec {
    align-items: center; /* Center align the comment section */
  }

  .comment-box {
    width: 100%; /* Expand the comment box to fit the container */
  }
}

/* New Post Page */
.new-post-box {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 6vh;
  border-radius: 5vh;
}

#new-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif-finder {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.gif-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.gif-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gif-thumbnail {
  height: 10vh;
  width: auto;
}

.input-area {
  resize: none;
  width: 400px;
  height: 500px;
}

/* About section */
.about-title {
  text-align: center;
  margin-bottom: 15px;
}

.container-about {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0vh 30vh;
  text-align: center;
}

.container p {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.team {
  height: 150px;
  border-radius: 50px;
  margin: 30px;
}

img {
  height: 80px;
  width: auto;
}

/* Footer styling */

.footer {
  margin-top: 20vh;
  text-align: center;
  color: var(--NavyBlue)
}

.photo {
  transition:.5s;
}

.photo:hover {
  transform:scale(1.3);
}