.navbar {
  background-color: rgba(95, 186, 233, 0.8);
}

.navbar-toggler {
  border-color: rgba(100, 100, 100, 0.7);
  border-width: 2px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100,100,100, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar a {
  color: white;
}

.navbar input[type='submit'] {
  color: white;
  background: none !important;
  border: none;
  margin: auto;
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
}

.hero-image {
  background-image: url('https://images.unsplash.com/photo-1448387473223-5c37445527e7?dpr=1&auto=format&fit=crop&w=440&h=220&q=60 1x, https://images.unsplash.com/photo-1448387473223-5c37445527e7?dpr=2&auto=format&fit=crop&w=440&h=220&q=60 2x');
  max-height: 92%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  overflow-y: hidden !important;
}

.hero-text {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.459), 0 0.5px rgba(0, 0, 0, 0.459),
    0.5px 0 rgba(0, 0, 0, 0.459), 0 -0.5px rgba(0, 0, 0, 0.459);
  font-family: 'Courier New', serif;
  color: rgba(0, 0, 0, 0.459);
}

body {
  margin: auto;
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 20px;
}

h4 {
  text-align: center;
}

.cover-container {
  max-width: 42em;
}

.brand-name {
  margin: 0px;
  font-family: 'Courier New', serif;
  font-size: 2rem;
}

a {
  color: #00b7ff;
}

.signup-button {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 80%;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.date-posted {
  text-align: right;
}

.post-profile-photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.login-container {
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 100%;
}

.login-form {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
  text-align: center;
  color: #333;
}

input[type='email'],
[type='password'],
[type='text'] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type='submit']:not(.navbar input[type='submit']) {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}

.post-img {
  max-width: 100%;
}

.card-img-bottom {
  text-align: center;
}

.card {
  margin-bottom: 20px;
  max-width: 60%;
  border: none;
  color: black;
  box-shadow: 0 5px 30px 0 rgba(95, 186, 233, 0.3);
  border-radius: 5px 5px 5px 5px;
}

.like-div {
  padding: 10px;
}

.like-counter {
  transform: translate(0%, 50%);
}
