body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


   background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED);
 }

a {
  color: #00B7FF;
}

#logout {
  width: 80px;
  height: 20px;
  display: flex;
  text-align: center;
}

<<<<<<< HEAD
li {
  list-style: none;
}

.tlposts {
  border-width: 20px;
  border-color: aqua;
  border-style: solid;
=======
/* #indexbg {
  height: 200px;
  background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED);
} */

.posts{
  list-style: none
}

div{
  text-align: center;
>>>>>>> b6fdd1239ee0367bb4b58ef2e4cf08134846bf5d
}
