body {
  background-color: hsl(209, 44%, 81%);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0096d1;
}

.all-posts {
  width: 430px;
  margin: 50 auto;
}

#single-post {
  list-style: none;
  margin: 50 auto;
  border-radius: 5px;
  border: 1px #676767;
  box-shadow: 5px #5d5d5d;
  background: rgb(248, 248, 248);
  margin-bottom: 12px;
  padding: 15px;
background-color: #fffffc;
}

.column1-author-details {
  width: 300px;
  float: left;
}

.coloumn2-user-buttons {
  width: 100px;
  float: right;
}

.post-header:after {
  content: "";
  display: table;
  clear: both;
}

#profile-picture {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 16px;
  border-radius: 50px;
}

#post-author {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
  padding-top: 8px;
  margin-bottom: 5px;
}

#post-timestamp {
  font-size: 11px;
  margin-top: 5px;
}

#edit-post-button {
  font-size: 10px;
  float: right;
}

#delete-post-button {
  font-size: 10px;
  float: right;
  margin-left: 4px;
}

.image {
  max-width: 400px;
  /* max-height: 400px; */
  object-fit: scale-down;
  border: thin, solid rgb(154, 154, 154);
  border-radius: 4px;
}

#message-content {
  margin-top: 5px;
}

#like-button {
  float: left;
  margin-left: 80px;
}

#comment-button {
  float: right;
  margin-right: 80px;
}

#interaction-buttons {
  margin-bottom: 20px;
}

#comment-box{
  display:block;
  resize: none;
  width: 98%;
  margin: 10px 0 ;
}

.likeBtn {
  background-color: #008ad3;
  color: white;
  font-size: small;
  border: 1px solid #008ad3;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
  padding: 5px 0;
}

.unlikeBtn {
  background-color: white;
  color: #008ad3;
  font-size: small;
  border: 1px solid #bababa;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
  padding: 5px 0;
}

.likeBtn:hover {
  box-shadow: 5px 5px 5px #bababa;
}

.unlikeBtn:hover {
  box-shadow: 5px 5px 5px #bababa;
}

/* profile layout test */

.profile-picture {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 16px;
  border-radius: 50px;
}

.dead-pixel {
  position: absolute;
  scroll-behavior: none;
  left: 500px;
  top: 356px;
  width: 1px;
  height: 1px;
  background-color: purple;
}

/* temp */
.unfriendBtn {
  color: red;
}

.friendBtn {
  color: green;
}

.single-comment {
  margin-bottom: 20px;
  padding: 0px 15px;
  border-bottom: 1px solid #ff8e80;
}

#comment-author {
  font-weight: bolder;
  margin-right: 20px;
  margin-top: 0;
}

#comment-text {
  margin-top: 0;
}