body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(220, 239, 245);
}

h1.title {
  background-color:  #1391CC;
  color: rgb(196, 214, 218);
  font-family: Monaco;
  display:table;
  padding: 7px;
}


h4.title {
  background-color: rgb(0, 90, 100);
  color: white;
  font-family: Monaco;
  display:table;
  padding: 7px;
}

a {
  color: #00B7FF;
}
div.navigation-menu {
  width: 25%;
  padding: 5px;
  margin: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navigation-button {
  border: none;
  color: white;
  background-color: #1391CC;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  margin: 3px 3px;
  display:block;
  width: 50%;
  height: 40px;
}

.post-button, input[type=submit] {
  border: none;
  color: white;
  background-color: #1391CC;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}

.navigation-button:hover {
  color: greenyellow;
  background-color: rgb(21, 119, 206);
  padding-top: 3px;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

li.each-message {
  padding: 1px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  list-style-type: none;
  background-color: rgb(196, 225, 229);
  display:table
}