body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/Social-Media-Usage.png');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.form {
  display: grid;
  align-items: center;
  justify-content: end;
}