body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}

h1.title {
  background-color: darkgreen;
  color: white;
  font-family: Monaco;
  display:table;
  padding: 7px;
}

a {
  color: #00B7FF;
}
div.navigation-menu {
  width: 15%;
  padding: 5px;
  margin: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navigation-button {
  border: none;
  color: white;
  background-color: darkgreen;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  margin: 3px 3px;
  display:block;
  width: 50%;
  height: 40px;
}

.navigation-button:hover {
  color: greenyellow;
  background-color: darkgreen;
  padding-top: 3px;
}

div.content {
  margin-left: 15%;
  padding: 1px 16px;
  height: 1000px;
}

li.each-message {
  padding: 1px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  list-style-type: none;
  background-color: blanchedalmond;

}