body {
  margin-top: 50px;
  padding: 0px;
  font: 14px 'Open Sans', sans-serif;
  background-color: #ecf8fd;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1394cf;
  overflow: auto;
}


.header_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_button {
  padding: 10px 15px;
  color: #fff;
  background: #1394cf;
  border: 0 none;
  cursor: pointer;
  border-radius: 0px;
}

.header_button:hover {
  background-color:#1FAAEA;
}

/* .welcome_text {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
} */

/* .input_box {
  background: #FFFFFF;
  border: 1px solid #392106;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px;
} */

.main_container {
  justify-content: center;
  align-content: center;
  padding: 100px;
  padding-top: 150px;
}

.post {
  /* background-color: #eee;
  margin: 20px;
  padding: 20px; */
  border-bottom: 1px solid black;
}

.posts {
  margin: auto;
  width: 65%;
}

.post_header {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.center {
  text-align: center;
}

/* div {
  border: 1px solid red;
} */

.post_contents {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f8f1f3;
}

.username {
  /* font-size: 14px;
  font-family: 'Open Sans', sans-serif; */
  color: #f49f0a;
}
.colour_white_blue{
  color: #ecf8fd;
}
.colour_snow {
  color: #f8f1f3;
}

.colour_blue_NCS {
  color: #1394cf;
}

.colour_tangerine {
  color: #F08700;
}

.colour_orange_web {
  color: #f49f0a;
}

.colour_yellow_munsell {
  color: #EFCA08;
}

.timeline_header {
  text-align: center;
  /* font-size: 14px;
  font-family: 'Open Sans', sans-serif; */
}

.author_container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.message_container {
  box-sizing: border-box;
  box-shadow: 1px 1px 2px;
  border: 0.5px solid #000000;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likes_container {
  padding: 5px;
}

.comment_container {
  border-bottom: 1px solid lightslategray;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.comment-form {
  display: flex;
  width: 100%;
}

.comment-input {
  flex: auto;
  margin-right: 5px;
}

input#log-out[type="submit"] {
  font: 14px 'Open Sans', sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 15px;
}

/* CSS_Shared below form input boxes and buttons*/

.controls input[type="text"],
.controls input[type="email"],
.controls input[type="password"],
.controls input[type="username"],
.controls textarea,
.controls button,
.controls select {
  padding: 12px;
  font-size: 14px;
  border: 2px solid #808184;
  width: 92%;
  color: #888;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.controls input[type="text"]:focus, 
.controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="password"]:focus,
.controls input[type="password"]:hover,
.controls input[type="username"]:focus,
.controls input[type="username"]:hover,

.controls textarea:focus,
.controls textarea:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
  outline: none;
  border-color: #F08700;
  background: #FFCA85;
}

/* Button css */
.controls button {
  cursor: pointer;
  background-color: #46A8E3;
  border: none;
  color: #fff;
  padding: 12px 0;
  margin: 1em 0;
}
.controls button:hover {
  background-color: #7dc2eb;
}

/* button choices */


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #F08700;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
}

.button-5:hover,
.button-5:focus {
  background-color: #f49f0a;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
/* Archies like/unlike button */

#submit-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #F08700;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
}

#submit-button:hover,
#submit-button:focus {
  background-color: #f49f0a;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#submit-button:hover {
  transform: translateY(-1px);
}

#submit-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Home page / Login in Page / Sign Up page CSS */

.Create_account_box {
  padding-top: 20px;
  border-top: 1px solid black;
  margin-top: 20px;
}

.sign_up_box_padding {
  text-align: center;
  padding-top: 20px;
}

.item1 { 
  grid-area: header;
  justify-content: center;
  align-content: center;
}
.item3 { 
  grid-area: main;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
}

/* LogIn box CSS below*/

.item4 { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  padding-top: 20px;
  grid-area: right; 
}

.form_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 350px;
  padding: 50px;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 6px;
  margin: 0 auto;
}

.form-container {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 200px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header'
  'main right'
  'main right'
  'main right'
  'main right';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

.modal_background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
  opacity: 0.9;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

.sign_up_font_size {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
  margin: 0 auto;
}
