<h2>search for acebook users by name</h2>

<form id="search-form" action="/search" method="POST">
  <label for="search">Enter search here</label>
  <input id="search" type="text" name="search" value=""/>
  <input type="submit" value="Submit Search" />
</form>