<h2 class="title-h2">Search for other users:</h2>

<form id="search-form" action="/search" method="POST">
  <label class="search-form-label" for="search">Enter their name here:</label>
  <input class="inline-form-input" id="search" type="text" name="search" value=""/>
  <input class="search-form-btn" type="submit" value="Submit Search" />
</form>