<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>

<p>Here is a picture of some eggs (inspired by Game of Thrones):</p>
<img src="/images/orlane_egg.jpg"/>
<p>Photo taken from this <a href="https://www.etsy.com/nz/listing/481435869/game-of-thrones-dragon-egg-paperweight">website</a>.</p>
<br>
<br>

<p>Here is an egg-cellent song:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Wt2Et6W93gs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<br>

<p>Thank you Makers for this cool project :)</p>
<iframe src="https://giphy.com/embed/3oEjHFGSTy7YCeWnsc" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bbmas-bbmas-2016-3oEjHFGSTy7YCeWnsc">via GIPHY</a></p>
<br>
<p>My GitHub is: <a href="https://github.com/orlanerosette">orlanerosette</a></p>