<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

<div id="signup-title" class="form-container">
  <h1 class="signup-title"> Sign up to AceBook </h1>
  <h2> Enter your details below to join! </h2>
  <hr>
</div>

<div id="signup" class="form-group">
  <label for="first-name-input">First Name</label>
  <input id="first-name-input" class="form-control" type="text">
  <br>
  <label for="second-name-input">Second Name</label>
  <input id="second-name-input" class="form-control" type="text">
  <br>
  <label for="email-entry">Email Address</label>
  <input id="email-entry" class="form-control" type="text">
  <br>
  <label for="password-entry">Password</label>
  <input id="password-entry" class="form-control" type="password">
  <br>
  <label for="password-confirm-entry">Confirm Password</label>
  <input id="password-confirm-entry" class="form-control" type="password">
  <br>
  <button id="login-button" class="btn btn-primary">Sign Up!</button>
</div>
</body>
</html>
