<form id="sign-up-form" action="/signup" method="post">
<label for="Username"><br>Username<b></b></label>
<input type="text" placeholder="Enter Username" name ="Username" required>
<label for="Password"><br>Password<b></b></label>
<input type="text" placeholder="Enter Password" name ="Password" required>
</form>
