<form id="sign-up-form" action="/signup" method="post">
<label for="Username"><br>Username<b></b></label>
<input type="text" placeholder="Enter Username" name ="Username" required>
<label for="Password"><br>Password<b></b></label>
<input type="text" placeholder="Enter Password" name ="Password" required>
</form>
<<<<<<< HEAD
<form action="/post">
        <button type="submit">Submit</button>
</form>
=======
>>>>>>> 8f47b83b4b1c8a263d1297d7738e2a255aefaf4b
