<form id="sign-up-form" action="/signup" method="post">
<label for="Username"><br>Username<b></b></label>
<input type="text" placeholder="Enter Username" name="username" required>
<label for="Password"><br>Password<b></b></label>
<input type="text" placeholder="Enter Password" name="password" required>
        <button type="submit">Submit</button>
</form>
