<form id="login-form" action="/login" method="post">
        <label for="username"><br>Username<b></b></label>
        <input type="text" placeholder="Enter Username" name ="username" required>

        <label for="password"><br>Password<b></b></label>
        <input type="password" placeholder="Enter Password" name ="password" required>

        <button type="submit">Submit</button>
</form>
