<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class="about">About</h1>
<h2 class="about-link"><a href="https://miro.com/app/board/uXjVPUicWbE=/">Link to the Project Diagram</a></h2>
<h2 class="about-link"><a href="https://trello.com/b/xq4pMzwv/team-guinea-pig">Link to the Project Trello Board</a></h2>
<h2 class="about-link"><a href="https://github.com/codingoswin/Team-Guinea-pig">Link to the Project GitHub Repository</a></h2>
