<h1 class="title">Contact Us</h1>

<form action="mailto:zarkmuckerbergacebook@gmail.com?body=Dear Acebook Team" method="post">
  <button type="submit" id="submit" value="Submit">Email us with any issues you have</button>
</form>

