<div class="title">
  <h1>Help and Support</h1>
</div>

<button class="accordion">What's up with your face?</button>
<div class="panel">
  <p>Too many smokey meats.</p>
</div>
<br>
<button class="accordion">What do you think of Metaperverse?</button>
<div class="panel">
  <p>Pathetic.</p>
</div>
<br>
<button class="accordion">How do I make an account?</button>
<div class="panel">
  <p>Click on the register button on the navigation bar and enter your details below so that we can sell your personal information.</p>
</div>
<br>
<button class="accordion">What if someone hacks my password?</button>
<div class="panel">
  <p>Don't worry! Our password encryption will stop any very poorly trained hackers form getting into your account.</p>
</div>
<br>
<button class="accordion">How do I make a new post?</button>
<div class="panel">
  <p>Enter your text into the field on the timeline page when you are signed in and then click on the Zucc's meaty head.</p>
</div>
<br>
<button class="accordion">I made a huge mistake on a post that I made. What can I do?</button>
<div class="panel">
  <p>Don't worry! There is a delete button which only you can click on your posts which will get rid of the post. But to be honest, if you're messing this up what hope have got?</p>
</div>
<br>
<button class="accordion">Can I express how I feel about a particular post?</button>
<div class="panel">
  <p>Yes! Each post has a like button which you can click on and even a comment section if you want to leave a message for everyone to see. If that makes you feel good for some reason...</p>
</div>
<br>
<button class="accordion">Is it possible for me to use the site while on the go?</button>
<div class="panel">
  <p>Yes! Our site is mobile-friendly so you can waste more of your life away on your phone too.</p>
</div>
<br>
<button class="accordion">This site is amazing! How did you make it?</button>
<div class="panel">
  <p>No it isn't, but I appreciate the forced compliment. You can see all the code that went into this by clicking the About button on the navigation bar and see our Github repository.</p>
</div>
<br>
<button class="accordion">I have an issue that isn't listed in this faq, what do I do?</button>
<div class="panel">
  <p>Click the button below to send us an email regarding your issue. Although you probably won't get a reply because we don't really care.</p>
</div>
<br>

<script src="javascripts/help.js"></script>

<form action="mailto:zarkmuckerbergacebook@gmail.com?body=Dear Acebook Team" method="post">
  <div class = 'centerbutton'>
    <button type="submit" id="submit" value="Submit">Email us with any issues you have</button>
  </div>
</form>
