<h1 class="title">Help and Support</h1>

<table>
  <tr>
    <td>What's up with your face?</td>
    <td>Too much smokey meats</td>
  </tr>
  <tr>
    <td>What do you think of metaperverse?</td>
    <td>Pathetic</td>
  </tr>
</table>

<form action="mailto:zarkmuckerbergacebook@gmail.com?body=Dear Acebook Team" method="post">
  <button type="submit" id="submit" value="Submit">Email us with any issues you have</button>
</form>

