<div class="homepage-content">
    <div class="left-container">
        <h1 class="title">{{title}}</h1>
        <p class="slogan">Making people's lives Betta</p>
    </div>
    <div class="right-container">
        <a href="/sessions/new">Login</a>
        <hr>
        <a href="/users/new">Sign Up</a>
    </div>
</div>