<form action="./users/new" method="GET">
  <input type="submit" value="Sign Up" />
</form>

<form action="./sessions/new" method="GET">
  <input type="submit" value="Sign In" />
</form>

<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>