<form action="./users/new" method="GET">
  <input type="submit" value="Sign Up" />
</form>

{{!-- Sign up button implemented --}}

<form action="./sessions/new" method="GET">
  <input type="submit" value="Sign In" />
</form>

{{!-- Sign in button implemented --}}

<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>