

<div class="jumbotron jumbotron-fluid">
  <div class="container-full-bg">
    <h1 class="display-2">Acebook!</h1>
    <p class="lead">The site that keeps on taking.</p>
  </div>
</div>

<a class="signup-link btn btn-primary" href="/signup" role="button">Sign up</a>
<a class="login-link btn btn-primary" href="/login" role="button">Login</a>

