<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Testing - heroku</p>

<div id="homepage-hero">
<form action="/users/new" method="get">
    <input type="submit" value="Sign up!" />
</form>

<form action="/sessions/new" method="get">
    <input type="submit" value="Log in!" />
</form>
</div>