<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id="new-user-form" action="/user" method="post">
  <label for="first_name"> </label>
  <input id="first_name" placeholder="First name" type="text" name="first_name" value="">
  <label for="surname"></label>
  <input id="surname" placeholder="Surname" type="text" name="surname" value="">
  <input type="submit" value="Submit">
  <label for="email"> </label>
  <input id="email" placeholder="Email address" type="text" name="email" value="">
  <label for="password"> </label>
  <input id="password" placeholder="New Password" type="password" name="password" value="">
  <label for="dob"> </label>
  <input id="dob" placeholder="Date of Birth" type="text" name="dob" value="">
</form>
