<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id="new-user-form" action="/user" method="post">
  <input id="first_name" placeholder="First name" type="text" name="firstName" value="" required>
  <input id="surname" placeholder="Surname" type="text" name="surname" value="" required>
  <input id="email" placeholder="Email address" type="text" name="email" value="" required>
  <input id="password" placeholder="New Password" type="password" name="password" value="" required>
  <input id="dob" placeholder="Date of Birth" type="text" name="dob" value="">
  <input id="submit-button" type="submit" value="Submit">
</form>
