<div class="topnav">
  <a class="active" href="/users/new/">Sign Up</a>
  <a class="active" href="./sessions/new">Sign In</a>
</div>

<div class="main-container" id="main">
  <div class="main-text">
  <h1 class="title">{{title}}</h1>
  <p>Welcome to {{title}}</p>
  </div>
</div>