<h1 class="title">Welcome to {{title}}</h1>


<form method = 'GET' action = '/users/new'> 
    <input type = 'submit' value = 'Signup' >
</form> 

<form method = 'GET' action = '/sessions/new'>
    <input type = 'submit' value = 'Login' >
</form> 
