{{#unless session.user}}

<html>    
<body>
    <h1 class="title">{{title}}</h1>
    <div class="general">
      <img src="https://i.imgur.com/jKmKugF.png"width="500px" alt="metaperverse"> 
    <h2>Facebook helps you connect and share <br> with the people in your life.<br> <{{title}} does not.</h2>
    </div>
    <div class="forms">
        <div>
            <form action='sessions/new' method='GET'>
            <button class="botton" id="Login" type="submit" value="Log in "<>Log In</a></button>               
            </form> 
        </div>
        <div class="fgt">
           <a class="forget">Forgotten password?</a>
        </div>
        <div id="br"> <br> </div> 
        <div class="acc">
           <form action="users/new" method="GET">
           <div> <button class="newacc" id="Signup" type="submit" value="Create New Account" >Create New Account</a></botton> </div>
           </form>
        </div>
        </form>
   
        <div class="newpage"><a class="create"> Create a Page</a> for a celebrity, band or business.</div>
    </div> 
</html>




{{/unless}}

{{!-- <h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p> --}}