<html>

<head>
  <title class="title">{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/sessions.css" />
</head>

<body>
<div class="container">
  <div class="row align-items-center justify-content-center custom">

    <div class="col-md-6">
      <h1 class="text-primary display-5"><strong>Acebook</strong></h1>
      <h4>Helps you connect and share with the people in your life.</h4>
    </div>

    <div id="content-box" class="col-md-6">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-7 border p-5 shadow rounded bg-light d-flex justify-content-center">

          <a href="/users/new" class="btn btn-primary mx-2"><h3 class="fs-6 m-0 "id="signup-link">Sign Up</h3>
          </a>
      
  <a href="/sessions/new" class="btn btn-primary"><h3 class="fs-6 m-0" id="login-link">Click here to login</h3></a>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

  </div>
</div>
</body>

</html>


{{!-- <html>
    <head>
        <title class="title">{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/master.css">
    </head>
    <body>
        <nav>
            <div class="navbar-title">
                <h1 id="acebook-title">Welcome to {{title}}</h1>
            </div>
                <ul class="navbar-items">
                    <a href="/users/new"><h3 id="signup-link">Sign Up</h3></a>
                </ul>
        </nav>
        <div id="content-box">
            <div id="login-box">
                <h3 id="login-title">Start connecting now!</h3>
                <img src="/images/download.png" alt="people connecting image" id="connecting-pic">
                <a href="/sessions/new"><h3 id="login-link">Click here to login</h3></a>
            </div>
        </div>
    </body>
</html> --}}

<img src="" width="40px" alt="">

<a href=""></a>