<style>

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url('/images/SocialGathering.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-style: oblique;
  font-size: 60px;
  text-decoration: underline;
  color: #000080;
}

.second-title {
  text-align: center;
  font-style: oblique;
  font-size: 25px;
}

.signin-box {
  text-align: center;
  border: 3px solid black;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: rgba(211,211,211,0.4);
}

.signup-link {
  color: black;
  font-size: 21px;
}
</style>

<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

<div class="bg">

<div id="logo" style="position:relative;">
  <img style="position:absolute; top:10px; bottom: 10px; left: 5px;" src="/images/AceBookLogo.png" width="90" height="100" valign="top">
</div>

<div id="title" class="form-container">
  <h1 class="title">{{title}}</h1>
  <p class="second-title">Welcome to {{title}}</p>
  <hr>
</div>

<form class="signin-box" action="/" method="post">

<div id="login" class="form-group">
  <h2>Log In Here</h2>
  <label for="email-input">Email Address</label>
  <input id="email-input" name="email" class="form-control" type="email" required>
</div>

<div id="password" class="form-group">
  <label for="password-input">Password</label>
  <input id="password-input" name="password" class="form-control" type="password" required>
</div>

<button id="login-button" class="btn btn-primary">Log In</button>
<br><br>

<a id="signup-link" class="signup-link" href="/signup">New user? Sign up here!</a>
  </form>
  </div>
</body>
</html>
