{{!-- <h1 class="title">{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
  {{!-- <body class="d-flex h-100 text-center text-white bg-dark"> --}}
    
  <main class="px-3">
    <h1 id="title">{{title}}</h1>
    <p class="lead">Connecting you to your friends</p>
    <p class="lead">
      <a href="/sessions/new" class="btn btn-lg btn-secondary fw-bold border-white" id="login-button">Log in</a>
    </p>
  </main>
</div>
