<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="container-xxl">
<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/signup">
        <button type="submit" class="btn btn-primary">Sign-up</button>
</form>

<form action="/login">
          <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
