 

 <form action='sessions/new' method='GET'>
      <input id="Login" type="submit" value="Log in">
 </form>

 <form action='users/new' method='GET'>
      <input id="Signup" type="submit" value="Create New Account">
      </form>


<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
