<!DOCTYPE html>
<html>
<head> 
  <link rel="stylesheet" type="text/css" href="/mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">

 </head>
<body>
<h1 style="font-family: 'Bungee', cursive"  class="title"> Welcome to Acebook </h1>

  <img src="/images/logo.png" alt="logo" class="overlayLogo">
  <div class="rcorners1">
      <div class="row">
        <div class= "col s8">
          <form action='/users/login' id="login">
            <button style="margin-top: 20em;" class="waves-effect waves-light btn" type='submit'> Log in </button>
          </form>
          <form action='/users/register' id="register">
            <button style="margin-top: 5em;" class="waves-effect waves-light btn" type='submit'> Register </button>
          </form>
        </div>
      </div>
  </div>
      
  






</body>


<style>
body {
  background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
