<!DOCTYPE html>
<div>
<head>
  <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">

</head>
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<body>
<h1 style="font-family: 'Bungee', cursive"  class="title"> Welcome to {{title}} </h1> <<!-- this refers to title referenced in the controller -->

  <img src="/images/logo.png" alt="acebook logo" class="overlayLogo">
  <div class="rcorners1">
    {{!-- <img src="/images/logo.png" alt="acebook logo" class="overlayLogo"> --}}
    <div class="container">
            <form action='/users/login' id="login">
              <button style="margin-top: 20em; background-color: #7dbcf3; border-color: #2e6da4" class="waves-effect waves-light btn btn-primary btn-block" type='submit'> Log in </button>
            </form>
            <form action='/users/register' id="register">
              <button style="margin-top: 5em; background-color: #337ab7; border-color: #2e6da4" class="waves-effect btn btn-primary btn-block" type='submit'> Register </button>
            </form>

    </div>
  </div>






<p align="center"> &copy 2020 WePush2Master</p>

</body>
</html>
