<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="homepage-container">
    <h1 class="title homepage-center">{{title}}</h1>
    <p class="homepage-center">Welcome to {{title}}</p>
  </div>
</body>
</html>

