<div class = "text-box">
  <h1>Welcome to Acebook</h1>
    <p>Make ace memories with your friends</p>
    <div id="formContainer">
      <form action="/users/new">
        <input type='submit' value="Sign Up" class="button1">
      </form>
      <form action="/sessions/new">
          <input type='submit' value="Log In" class="button1">
      </form>
    </div>
</div>