<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Acebook - Homepage</title>
        <script
            src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <link rel='stylesheet' href='/stylesheets/home-index.css' />
    </head>
    <body>
        <header>
            <span class="site_logo">
                <a href="/posts"><img src="/images/logo trial 3.png" alt="Acebook" height="50"></a>
            </span>

            <span>
                <a href="/sessions/new">Log In</a>
                <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="/users/new">Sign Up</a>
            </span>
        </header>
        <div class="content">
            <h1 class="title">{{title}}</h1>
            <p>Missing the "F"...<br>...as in "Funding"</p> </div>
    </body>
    <footer>Acebook™ in partnership with Eta™</footer>
</html>