<div class="main-container text-center" id="main">
  <h1 class="homepage-title">Welcome to {{title}}</h1>

<div class="homepage-nav text-center">
  <span class="homepage-link-wrapper">
  <a class="homepage-link" href="/users/new/">Sign Up</a>
  </span>
   <span class="homepage-link-wrapper">
  <a class="homepage-link" href="./sessions/new">Sign In</a>
  </span>
</div>
</div>