<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}!</p>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="login">
<div class="radial-gradient"></div>
	<div class="container">
		<div class="login-container-wrapper clearfix">
			<ul class="switcher clearfix">
				<li class="first logo active" data-tab="login">
						<a>Login</a>
				</li>
				<li class="second logo" data-tab="sign_up">
						<a>Sign Up</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="login">
					<form class="form-horizontal login-form">
						<div class="form-group relative">
							<input class="form-control input-lg" id="login_username" placeholder="E-mail Address" required="" type="email"> <i class="fa fa-user"></i>
						</div>
						<div class="form-group relative">
							<input class="form-control input-lg" id="login_password" placeholder="Password" required="" type="password"> <i class="fa fa-lock"></i>
						</div>
						<div class="form-group">
							<button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
						</div>
						<div class="checkbox checkbox-success">
							<input id="stay-sign" type="checkbox">
              <label for="stay-sign">Stay Logged in</label>
						</div>
            <hr />
						<div class="text-center">
							<label><a href="#">Privacy terms and conditions</a></label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app.js"></script>
</body>
</html>

<form action="/signup">
    <input type="submit" value="Sign Up" />
</form>