<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/login.css"/>
</head>

{{!-- <head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head> --}}
{{!-- <h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

