<div class="welcome-page">
  <h1 class="title">Welcome to Quackbook</h1><br /><br />

</div>

<div id="signin">
  <form id="new-session-form" action="/sessions" method="post">
    <div>
      <label for="email"></label>
      <input id="email" type="email" name="email" placeholder="Email" />
    </div>

    <div>
      <label for="password"></label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>

    <div>
      <input id="log-in" type="submit" value="Log In" />
    </div>
  </form>

  <div>
    <form action="/users/new">
      <input id="sign-up" type="submit" value="Sign Up" />
    </form>
  </div>

</div>
