<div class="homepage">
<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" method="POST">
<div class="form">
  <button><a href="#signup">Sign Up</a></button>
  <button><a href="#signin">Sign In</a></button>
  <br><br>

  <p>Sign up for free</p>

  <label for="name"></label>
  <input type="text" placeholder="First Name*" name="firstname" autocomplete="off" required>
  <input type="text" placeholder="Last Name*" name="lastname" autocomplete="off" required> <br>
  <input type="text" name="email" placeholder= "Email Address*" value="" autocomplete="off" required>
  <input type="text" name="password" placeholder="Set a password*" value="" autocomplete="off" required><br>

  <button>submit</button>

</div>
</form>
</div>
