<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" type="text/css" href="/mystyle.css">


 </head>
<body>


  <img src="/images/logo.png" alt="logo" class="overlayLogo">
  <div class="rcorners1"></div>
</div>
<form action='/users/login' id="login">
  <button type='submit'> Log in.
</form>

<h1 class="title"> Welcome to Acebook </h1>


</body>


<style>
body {
  background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
