<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Making you feel connected!</p>

<form action="/sessions/new" method="get">
      <input id="submit" type="submit" value="go to login page"/>
  </form>