<html>
<head>
  <link rel="stylesheet" href="stylesheets/home/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <title>{{title}}</title>
</head>
<body>
  <section>
    <div class="nav-bar">
      <div class="logo">
        <a href="#">
          <img src="/images/acebook.png" alt="people connecting image" class="logo">
        </a>
      </div>
      <div class="menu-bar">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new" class="login">Log In</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="home" id="home ">
    <div class="content">
      <h3 class="mainfont">
        Connecting <span class="yellowColor"> Aces </span>Worldwide
      </h3>
      <h3>
        Ace<span class="yellowColor">book</span>!
      </h3>
    </div>
    <div class="image">
      <img src="/images/elevate.png" alt=" hero-image" />
    </div>
</body>
</html>