<head>

</head>
<body>
  <h1 class="title">{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/sessions/new" id="login-link">Already a Member? Log In Here</a>
  <a href="/users/new" id="signup-link">Not a Member? Sign Up Here</a>
</body>
