<div class="parent-container">
    <div class="left-container">
        <h1 class="title">{{title}}</h1>
        <p class="slogan">Making people's lives betta</p>
    </div>
    <div class="right-container">
        <a href="/sessions/new" class="homepage-button">Sign In</a>

        <hr>

        <a href="/users/new" class="homepage-button">Sign Up</a>
        
    </div>
</div>