<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acebook</title>
    <link rel="stylesheet" href="/style.css"/> 
  </head>
<body>


  <div class="signup-container" >
    <p class="homepage-title">Welcome to {{title}}</p>

    <form id="new-session-form" action="/sessions" method="POST">
      <div class="login-form">
        <input id="email" type="email" name="email" value="" placeholder="Email" />
      </div>
      <div class="login-form">
        <input id="password" type="password" name="password" value="" placeholder="Password" />
      </div>

      <input id="login" type="submit" value="Login" />
    </form>

    <div id="new-user">
      <p>Don't have an account?</p>
      <a class="signup-button" href="/users/new">Sign up here</a>
    </div>
  </div>
</body>


