<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Sign up</h1>
<form id="new-user-form" action="/user" method="post">
  <input id="first_name" placeholder="First name" type="text" name="firstName" value="" required>
  <input id="surname" placeholder="Surname" type="text" name="surname" value="" required>
  <input id="email" placeholder="Email address" type="text" name="email" value="" required>
  <input id="password" placeholder="New Password" type="password" name="password" value="" required>
  <input id="dob" placeholder="Date of Birth" type="text" name="dob" value="">
  <input id="submit-button" type="submit" value="Submit">
</form>


<h1>Log in</h1>
<form action="/user/login" method="post">
  <input placeholder="Email address" id="email" type="text" name="email">
  <input placeholder="Password" id="password" type="password" name="password">
  <input id="submit-button" type="submit" value="Log in">
</form>