
<div class="container-xxl">
<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/signup">
        <button type="submit" class="btn btn-primary">Sign-up</button>
</form>

<form action="/login">
          <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
