<h1 class="title">{{title}}</h1>
    <body>
        <h1>Counter Test</h1>
        <p id="counter">Loading button click data.</p>
        <button id="myButton">Click me!</button>
    </body>
  <script src="click.js"></script>
<p>Welcome to {{title}}</p>

{{!-- hi --}}
