<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="buttons">
  <button type="button" class="log-in-button">Login</button> 
  
  <br>
  <br>

  <button type="button" class="sign-out-button">Sign-up</button>

</div>

