<div class="home" scroll="no">
  <h1 class="title">Welcome to {{title}}</h1>
   <p>The place where likes can be taken back</p>
   <br>
    <div class="hover06 column">
      <figure><img class="image" src="../images/logo.png" /></figure>
      <span></span>
    </div>
</div>

