<h1 class="title">{{title}}</h1>

<form id="log-in-form" action="/" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
</form>
