<h1 class="title">{{title}}</h1>
<h2>Log In!</h2>

<form action="/login" method="post">
  <label for="username">
    Username
    <input type="text" name="username">
  </label></br>
  <label for="password"></label>
    Password
    <input type="text" name="password">
  </label></br>
  <input type="submit" value="Submit">
</form>

<p>Created by The Matrix.</p>