<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acebook</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Acebook!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>

  <h1 class="title">{{title}}</h1>
  <h2>Log In!</h2>

  <form action="/login" method="post">
    <label for="username">
      Username
      <input type="text" name="username">
    </label></br>
    <label for="password"></label>
      Password
      <input type="text" name="password">
    </label></br>
    <input type="submit" value="Submit">
  </form>

  <p>Created by The Matrix.</p>
</body>
</html>