<h1 class="title">{{title}}</h1>

<form id="log-in-form" action="/2" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>
