<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/public/stylesheets/posts.css">
</head>

<body>
   <section id="header">
      <div class="container">
         <div class="header-nav">
            <div class="logo">
               <a href="#">Acebook<em class="smallc"> &copy</em></a>
            </div> 
                <main>            
                  </div>
                </div>
              <article>
                <div class="heading">
                  <p class="heading-title">User Posts</p>
                  <div class="heading-text">
                    Whether you want to show the world your new dog, <br/>complain about how the train prices have gone up over the last 10 years<br/> or talk about your favourite TV show. <br> There's always something to discuss below.
                  </div>
                </div>
                <div class="cards">
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Can't believe Les Dennis is taking up Formula 1.
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          9 mins ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Just played the latest Zelda installment, what a game!
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          18 mins ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        How long do you bake a potato for? Asking for a mate.
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          28 mins ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Selling my Ford Escort, £200 ONO.
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          57 mins ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Just signed up to Acebook, looking forward to seeing what the fuss is about.
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          1 hour ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Signed up to the gym yesterday, new year new me!
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          3 hours ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Do Pizza Hut offer free-delivery? I'm after that cheesy bite goodness tonight and don't fancy paying £3 for them to travel half a km to my door.
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          19 hours ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        Accidentally broke my toe hitting it off the door frame, ouch! #ToebodyCares :(
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          4 days ago
                        </p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="thumbnail">
                        <p>Thumbnail</p>
                      </div>
                      <div class="card-text">
                        I had to think of nine of these draft posts and I'm out of ideas. Team Mars Flying Through Space!
                      </div>
                      <div class="card-buttons">
                        <div class="card-button-1 hover-effect add-cursor">
                          View
                        </div>
                        <div class="card-button-2 hover-effect add-cursor">
                          Edit
                        </div>
                        <p class="card-bottom-text">
                          18 years ago
                        </p>
                      </div>
                    </div>
                </div>
              </article>
             
            </main>
              </body>
            </html>
            </div>
         </div>
      </div>
   </section>
</body>
</html>