<h1 class="title">{{title}}</h1>

<h2>Sign Up!</h2>
<form action="/signup" method="post">
  <label for="firstname">
    First Name
    <input type="text" name="firstname">
  </label></br>
  <label for="lastname"></label>
    Last Name
    <input type="text" name="lastname">
  </label></br>
  <label for="email"></label>
    Email Address
    <input type="text" name="email">
  </label></br>
  <label for="password"></label>
    Password
    <input type="text" name="password">
  </label></br>
  <input type="submit" value="Submit">
</form>
<p>Created by The Matrix.</p>