
<h3 class="mt-4">Welcome!</h3>

<div class="d-flex justify-content-center mt-4">
  <div class="form-style shadow p-5 rounded card">
    <form id='sign-in-form' action='/sessions/new' method='post'>
      <input type='text' name='username' placeholder='username' class='mt-3 p-2' required>
      <input type='password' name='password' placeholder='password' class='mt-3 p-2' required>
      <input type='submit' value='Submit' class='btn btn-outline-danger mt-3 p-2'>  
    </form>
  </div>
</div>
