<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/acebook-team-mars/public/stylesheets/signup.css">
   </head>
   <body>
      <section id="header">
         <div class="container">
            <div class="header-nav">
               <div class="logo">
                  <a href="#">Acebook<em class="smallc"> &copy</em></a> 
               </div>
               <div class="login">
                  <table>
                     <tr class="top-row">
                        <td>Email</td>
                        <td>Password</td>
                     </tr>
                     <tr class="middle-row">
                        <td><input type="text"></td>
                        <td><input type="password"></td>
                        <td><button>Log In</button></td>
                     </tr>
                     <tr class="bottom-row">
                        <td></td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </section>
      <section id="main">
         <div class="container">
            <div class="left-side">
               <h2>Connect with old friends, new acquaintences and the cousin in the family that no one really talks about.</h2>
               <div class="reasons">
                  <i class="left-icon far fa-newspaper"></i>
                  <p><span>Share what's new</span> in your life.</p>
               </div>
               <!--********************** Change ends here. ***********-->
               <div class="reasons">
                  <i class="left-icon fas fa-tv"></i>
                  <p><span>See photos</span> of your sisters new labrador.</p>
               </div>
               <div class="reasons">
                  <i class="left-icon fas fa-project-diagram"></i>
                  <p><span>Find more</span> about what your ex is up to on the News Feed</p>
               </div>
            </div>
            <div class="right-side">
               <h1>Sign Up</h1>
               <p>Develop an addiction to social media a</p>
               <form>
                  <input class="fname" type="text" id="fname" name="fname" placeholder="First Name">
                  <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
                  <input type="email" id="contact" name="contact" placeholder="Email address"><br>
                  <input type="password" id="pword" name="pword" placeholder="Password"><br>
                  <div class="birthday">
                     <p>Date of Birth</p>
                     <div class=birth-date>
                        <label for="date"></label>
                        <select name="day" id="day">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="27" selected>27</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                        </select>
                        <select name="month" id="month">
                           <option value="January">Jan</option>
                           <option value="February">Feb</option>
                           <option value="March">Mar</option>
                           <option value="April" selected>Apr</option>
                           <option value="May">May</option>
                        </select>
                        <select name="year" id="year">
                           <option value="1990">1990</option>
                           <option value="1991">1991</option>
                           <option value="1992">1992</option>
                           <option value="1993">1993</option>
                           <option value="1994" selected>1994</option>
                        </select>
                     </div>
                  </div>
                  <button>Sign Up</button>   
               </form>
               <hr>
            </div>
         </div>
      </section><br><br><br>
      <footer class="footer">
          <h6>A Team Mars Production</h6>
      </footer>
   </body>
</html>