<h1 class="title">{{title}}</h1>

<h2>Sign Up!</h2>

<div class="d-flex justify-content-center align-items-center h-100">
<form>
  <div action="/login" method="post" class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
  </div>
  <br>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <br>
  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
</div>
