#message {
  width: 100%;
  outline: none;
  resize: none;
}

#message:focus {
  border: 2px solid #5c6bc0;
}

.sticky-post {
  position: sticky;
  top: 50px;
}

.modal-message {
  width: 100%;
  outline: none;
  resize: none;
}

.modal-message:focus {
  border: 2px solid #5c6bc0;
}
