<div class="banner">
      <i id="dark-mode-toggle" class="fas fa-moon toggle-button"></i>
  <a><h1 class="title">Acebook</h1></a>
</div>
  <div class="bottombar">
    <a href="/posts" class="go-top">Back to Posts</a>
  </div>

  <div class="container-about">
        <h2 class="welcome">
            Welcome to AceBook!
        </h2>

        <p>
  Introducing Acebook, the social media revolution that takes your online interactions to soaring heights! Created by a dazzling team of developers and quality engineers, we proudly present Nish, Ollie W, Jasmine, Afzaa and let's not forget the quality superheroes Ollie C, Emre, Sam,and Stefan!
    </p>
  <div class="photos_div">
    {{!-- Nish --}}
    <a href="https://github.com/nrai14">
      <img class="team photo" src="/images/nish.png" alt="profile picture of Nishad" />
    </a>
    {{!-- Ollie W--}}
    <a href="https://github.com/gwaarb">
    <img class="team photo" src="/images/olliew.png" alt="profile picture of Oliver W"></img>
  </a>
  {{!-- Jasmine --}}
    <a href="https://github.com/jasmine-asra">
    <img class="team photo" src="/images/jasmin.jpg" alt="profile picture of Jasmine"></img>
  </a>
  {{!-- Afzaa --}}
    <a href="https://github.com/afzaa25">
    <img class="team photo" src="/images/afzaa.png" alt="profile picture of Afzaa"></img>
  </a>
  {{!-- Ollie C --}}
    <a href="https://github.com/olic32">
    <img class="team photo" src="/images/olliec.jpg" alt="profile picture of Oliver C"></img>
  </a>
  {{!-- Emre --}}
    <a href="https://github.com/devCoder69409">
    <img class="team photo" src="/images/emre.jpg" alt="profile picture of Emre"></img>
  </a>
  {{!-- Sam --}}
    <a href="https://github.com/samgeorge21">
    <img class="team photo" src="/images/sam.jpg" alt="profile picture of Sam"></img>
  </a>
  {{!-- Stefan --}}
    <a href="https://github.com/S-Spencer">
    <img class="team photo" src="/images/stefan.jpg" alt="profile picture of Stefan"></img>
  </a>
  </div>



<p>This magnificent platform, built with a sprinkle of JavaScript magic, Handlebars enchantment, and a dash of CSS sorcery, will make you wonder if Zuckerberg himself would give it a thumbs up. And guess what? We're deployed on Render, so you can expect smooth sailing in the virtual skies.
</p>

<p>
But wait, there's more! With Acebook, you can create posts that are out-of-this-world amazing, complete with the power of GIFs from the GIPHY API. Express your wit, charm, and limitless imagination while leaving your friends in awe of your internet prowess.
</p>

<p>
Our top-secret, password-protecting weapon, Bcrypt, ensures that your information stays locked up tighter than a jar of grandma's secret recipe. So you can sleep soundly knowing your data is in the hands of our trusted guardians.
</p>

<p>
Did we mention that Acebook is the masterpiece born from the Makers bootcamp? Oh, yes! We've been through the intense fires of coding battles, the late-night debugging duels, and emerged as conquerors, ready to bring you the most epic social media experience of your life.
</p>

<p>
So, what are you waiting for? Dive into Acebook, where unicorns roam free, the laughter never ends, and the virtual friendships are forged in the fires of endless scrolling. Welcome to Acebook, where we redefine social connections, one post at a time!
</p>

</div>
<div class="footer">
        <a href="https://github.com/nrai14/acebook-betta">
            <img class="photo" src="/images/github1.png"/></a>
        <h2 className="Copyright"> © 2023 AceBook</h2>
    </div>