<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<div class="error">
  {{#if error}}
    {{error}}
  {{/if}}
</div>

<div class="wrapper">
  <div class="title">
    Login Form ♤
  </div>

  <form id="new-session-form" action="/sessions" method="post">
    <div class="field">
      <label for="email"></label>
      <input
        id="email"
        type="email"
        name="email"
        value=""
        maxlength="30"
        oninvalid="alert('Please enter your email address')"
        required
        placeholder="Email"
      />
    </div>

    <div class="field">
      <label for="password"></label>
      <input
        id="password"
        type="password"
        name="password"
        value=""
        oninvalid="alert('You must enter a valid password')"
        required
        placeholder="Password"
      />
    </div>
  
    <div class="field">
      <input id="submit-login-button" type="submit" value="Submit" />
    </div>
    <div class="field">
      <input id="cancel" type="reset" value="Cancel" />
    </div>
    <div class="new-user">New to Acebook?<a href="/users/signup">
      <br>
        Create a new account here</a>
    </div>

  </form>
</div>