  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<h1>Welcome to AceBook</h1>
<h2>Please log in here</h2>

<form id="new-session-form" action="/sessions/new" method="post">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Submit">
</form>

{{#if message}}
    <div class="alert alert-info">{{message}}</div>
{{/if}}


<form action="/users/new">
  <input type="submit" value="Create a new account">
</form>

