<div class="main-container text-center">

<div class="authentication-nav">
  {{!-- <i class="fa-solid fa-house"></i> --}}
 <a class="home-link" href='/'><i class="fas fa-home"></i> Home</a>
 </div>

<h2 class="heading">Sign in:</h2>

  <div class="authentication-container">
    <div class="row d-flex justify-content-center align-items-center">
        <form class="authentication-form" id="new-session-form" action="/sessions" method="post">
        <div class="sign-in-wrapper col-12 col-lg">
          <input class="authentication-input w-100" id="email" type="email" name="email" value="" placeholder="Email Address" required>
          </div>
          <div class="sign-in-wrapper col-12">
          <input class="authentication-input w-100"  id="password" type="password" name="password" value="" placeholder="Password" required>
          </div>
          <div class="sign-in-wrapper col-12">
           <input class="authentication-btn mb-2 w-100" id="submit" type="submit" value="Submit">
          </div>
           <p class="mt-4 p-0 text-center"> Don't have an account? <a href="/users/new/" class="sign-up-link text decoration none"> Signup here! </a></p>
        </div>
    </div>
      </form>
  </div>
</div>
</div>

