<div class="sign-in-form">

  <form class="sign-in" id="new-session-form" action="/sessions" method="post">
  <h2>
    <label for="email">Email: </label>
    <input class="input-box" id="email" type="email" name="email" value="">
  </h2>
  <h2>
    <label for="password">Password: </label>
    <input class="input-box" id="password" type="password" name="password" value="">
  </h2>
  
  <input class="input-submit" id="submit" type="submit" value="Submit">
</form>

</div>

