<div class="body_not_navbar">

<h3> Log in Page </h3>
<br>
<form id="new-session-form" action="/sessions" method="post">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Submit">
</form>
  <p>Don't have an account? Sign up now!</p>
<form action="/">
    <input type="submit" value="Create account" />
</form>
</div>