<form id="new-session-form" action="/sessions" method="post">
  <label for="firstName">First Name: </label>
  <input id="firstName" type="text" name="firstName" value="">
  <label for="lastName">Surname: </label>
  <input id="lastName" type="text" name="lastName" value="">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Submit">
</form>
