<div class="banner">
  <a><h1 class="title">Acebook</h1></a>
</div>

<div class="new-content">
  <h1>Login</h1>
  <em>
  {{#if error}}
    <div>{{error}}</div><br>
  {{/if}}
  </em>
  <form id="new-session-form" action="/sessions" method="post">
    <input id="email" type="email" name="email" value="" placeholder="email" required class="input-box">
    <input id="password" type="password" name="password" placeholder="password" required class="input-box">
    <input id="submit" type="submit" value="Login" class="global-button">
  </form>
  <br>
  <p>Did you mean <a href="/users/new">signup</a>?</p>
</div>