<h1>Login to Acebook</h1>

<form id="new-session-form" action="/sessions" method="post">
   <div class="row g-3">
   

  <div class="col-md-6">
   <label for="email" class="col-sm-2 col-form-label">Email: </label>
  <input id="email" type="email" name="email" required value="" class="form-control" placeholder = "Email" >
  </div>
  
  <div class="col-md-6">
  <label for="password" class="col-sm-2 col-form-label">Password:  </label>
  <input id="password" type="password" name="password" required value="" class="form-control" placeholder = "Password"  >
  </div>

 <div class="col-md-2">
  <input id="submit" type="submit" value="Submit" class="btn btn-primary">
  </div>

</div>
</form>

    {{#if messages}}
          {{messages}}
      {{/if}}