
<form id="new-session-form" action="/sessions" method="post">
  <div class="sign-up-form-fields">
      {{#unless user}}
          <img class="index-logo" src="/images/acebook-logo.png" alt="logo">
      {{/unless}}
    <h2>Sign in below:</h2><br/>
    <label for="email">Email: </label>
    <input class="sign-up-in-inputs" id="email" type="email" name="email" value="">
    <label for="password">Password: </label>
    <input class="sign-up-in-inputs" id="password" type="password" name="password" value="">
    <input class="submit-button" id="submit" type="submit" value="Submit">

  </div>
</form> 