<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="banner">
      <i id="dark-mode-toggle" class="fas fa-moon toggle-button"></i>
  <a><h1 class="title">Acebook</h1></a>
</div>

<div class="new-content white-box">
  <h1 class="login-title">Login</h1>
  <em>
  {{#if error}}
    <div>{{error}}</div><br>
  {{/if}}
  </em>
  <form id="new-session-form" action="/sessions" method="post">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" value="" placeholder="email" required class="input-box" aria-label="Type email address here" tabindex="1">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" required class="input-box" aria-label="Type password here" tabindex="2">
    <button id="submit" type="submit" class="global-button" aria-label="Submit Login Form" tabindex="3">Login</button>
  </form>
  <br>
  <p class="divert-text">Did you mean <a href="/users/new">signup</a>?</p>
</div>
<script>
// Get the dark mode toggle button element
const darkModeToggle = document.getElementById('dark-mode-toggle');

// Check if the user's preference is stored in localStorage
const isDarkMode = localStorage.getItem('darkMode') === 'true';

// Set the initial state of dark mode based on the user's preference
if (isDarkMode) {
  document.body.classList.add('dark-mode');
  darkModeToggle.classList.add('fa-sun');
} else {
  document.body.classList.remove('dark-mode');
  darkModeToggle.classList.add('fa-moon');
}

// Toggle dark mode when the button is clicked
darkModeToggle.addEventListener('click', () => {
  // Toggle the dark mode class on the body element
  document.body.classList.toggle('dark-mode');
  darkModeToggle.classList.toggle('fa-sun');
  darkModeToggle.classList.toggle('fa-moon');

  // Update the button text and store the dark mode preference
  if (document.body.classList.contains('dark-mode')) {
    localStorage.setItem('darkMode', 'true');
  } else {
    localStorage.setItem('darkMode', 'false');
  }
});

</script> 
</body>
  

</html>

