<div id="formContent">
  <form id="new-session-form" action="/sessions" method="post">
    <br>
    <legend id="title">Log into Acebook</legend>
    <input type="email" id="email" class="" name="email" placeholder="email">
    <input type="password" id="password" class="" name="password" placeholder="password">
    <input type="submit" class="submit" value="Submit">
  </form>

  <div id="formFooter">
    <a class="underlineHover" href="https://www.youtube.com/watch?v=kfw61IxDgW8">Forgot Password?</a>
  </div>
</div>
 

