{{#if user}}
<div class ='centerbutton'>
You are already logged in
</div>
{{else}}
<form id="new-session-form" action="/sessions" method="post">
  <div class = "center">
    <label for="email">Email: </label>
    <br>
    <input id="email" type="email" name="email" value="" required>
    <br>
    <label for="password">Password: </label>
    <br>
    <input id="password" type="password" name="password" value="" required>
  </div>
  <div class ='centerbutton'>
    <button id="submit" type="submit" value="Submit">Log in</button>
  </div>
</form>
{{/if}}
