<div class="container d-flex justify-content-center">
  <div class="row">
  <h1>Log In</h1>
  <form id="new-session-form" action="/sessions" method="post">
  <div class="mb-3">
    <label class="form-label" for="email">Email: </label>
    <input class="form-control" id="email" type="email" name="email" value="" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password: </label>
    <input class="form-control" id="password" type="password" name="password" value="" />
  </div>
  <input class="btn btn-primary" id="submit" type="submit" value="Submit" />
  </form>
  <p>Not got an account? <a href="/users/new">Click Here</a></p>
</div>
</div>