<h1>Welcome to Quackbook</h1><br /><br />

<h2>Log in to Quackbook</h2>
<div id="signin">

  <form id="new-session-form" action="/sessions" method="post">
    <label for="email"></label>
    <input id="email" type="email" name="email" placeholder="Email" /><br />
    <label for="password"></label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="Password"
    /><br />
    <input id="submit" type="submit" value="Log In" /><br /><br /><br />
    <input id="submit" type="submit" value="Sign Up" />
  </form>
</div>