<form id="new-session-form" action="/sessions" method="post">
  <label for="email"></label>
  <input id="email" type="email" name="email" placeholder="Email">
  <label for="password"></label>
  <input id="password" type="password" name="password" placeholder="Password">
  <input id="submit" type="submit" value="Submit">
</form>
