
<div class="center">
  <h1>Welcome to AceBook</h1>
  <h2>Please log in here</h2>

  {{#if message}}
      <div id="error">{{message}}</div>
  {{/if}}

  <form id="new-session-form" action="/sessions/new" method="post">
    <div><input id="email" type="email" name="email" value="" placeholder="Email" required></div>
    <div><input id="password" type="password" name="password" value="" placeholder="Password" required></div>
    <div><input id="submit" type="submit" value="Login"></div>
  </form>
  <br>
  <a href="/users/new">Create a new account</a>
</div>


