<form id="new-session-form" action="/sessions" method="post">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="" required>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" minlength="8" required>
  <input id="submit" type="submit" value="Log in">
</form>

<p>{{this.error}}</p>
<a href="/users/new">Sign up</a>
