<div class="login-page-content">
  <div class="logo">
    <h1 class="login-title">{{title}}</h1>
    <p id="login-welcome-line">Share your world...</p>
  </div>
  <div id="new-session-form">
    <form action="/sessions" method="post">
      <label id="email-label" for="email">Email: </label>
      <input id="email-input" type="email" name="email" value="">
      <br/>
      <label id="password-label" for="password">Password: </label>
      <input id="password-input" type="password" name="password" value="">
      <input id="login-page-button" type="submit" value="LOGIN">
    </form>
  </div>
      <a id="sign-up-tag" href="/users/new">Don't have an account? Sign up</a>
</div>