<div class="main-container text-center">
{{!-- button to homepage --}}
<a href='/'>Acebook</a>

<div class="container">
<form class="sign-in-form" id="new-session-form" action="/sessions" method="post">
<div class="sign-in-wrapper" >
  <input class="authentication-input" id="email" type="email" name="email" value="" placeholder="Email Address" required>
  </div>
  <div class="sign-in-wrapper" >
  <input class="authentication-input" id="password" type="password" name="password" value="" placeholder="Password" required>
  </div>
  <div class="sign-in-wrapper">
  <input class="authentication-btn btn-lg btn-block" id="submit" type="submit" value="Submit">
  </div>
</form>
</div>
</div>
</div>
</div>
