<head>

</head>

<body>
  <h1 class="page-header">{{pageHeader}}</h1>
  <form id="new-session-form" action="/sessions" method="post">
    <label for="email">Email: </label>
    <input id="email" type="email" name="email" value="">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" value="">
    <input id="submit" type="submit" value="Submit">
  </form>
  <div>
    <a href="/users/new" id="signup-link">Not a Member? Sign Up Here</a>
  </div>
</body>
