<div id="signin">
  <form id="new-session-form" action="/sessions" method="post">
    <label for="email"></label>
    <input id="email" type="email" name="email" placeholder="Email" /><br />
    <label for="password"></label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="Password"
    /><br />
    <input id="submit" type="submit" value="Submit" /><br /><br /><br />
    <input id="submit" type="submit" value="Create New Account" />
  </form>
</div>