<h1>Uploaded Images</h1>
    <div>
        <% items.forEach(function(item) { %>
        
            <img src="data:image/<%=item.image.contentType%>;base64,
                             <%=item.image.data.toString('base64')%>">
            <div>
        
        
            </div>
        
            <% }) %>
    </div>