<form id="update-bio-form" action="/profile" method="post" enctype="multipart/form-data">
  <label for="bio">Bio:</label>
  <input id="bio" type="text" name="bio" value="">
  <input type="submit" value="Update">
</form>