<h1>Edit your profile</h1>
  <form id="editmyprofile-form" action="/users/account" method="post">
  <label for="bio">Bio: </label>
  <textarea id="bio" name="bio" rows="1" cols="25">Enter your bio here!</textarea>
  <br>
  <br>
  <label for="location">Location: </label>
  <input id="location" type="text" name="location" value="">
  <br>
  <br>
  <label for="age">Age: </label>
  <input id="age" type="number" name="age" value="">
  <br>
  <br>
  <input id="submit" type="submit" value="Submit">
</form>


