
<div text style="text-align: center">
<h1> Steve will be in touch in 5-10 business days, please bear with him he's new </h1>
<h1> Don't worry about your details, he already knows them.</h1>

<img src="/images/working cat.gif" alt="One sec" >

</div>