<html lang="en">
{{!-- https://jc-log.medium.com/easily-store-videos-on-your-express-server-using-multer-a7c3a2b0a5f1
https://www.geeksforgeeks.org/upload-and-retrieve-image-on-mongodb-using-mongoose/ --}}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploading</title>
  </head>

  <body>
    <h1>To Upload Image on mongoDB</h1>
    <hr />
    <div>
      <form action="/image" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Image Title</label>
          <input
            type="text"
            id="name"
            placeholder="Name"
            value=""
            name="name"
            required
          />
        </div>
        <div>
          <label for="desc">Image Description</label>
          <textarea
            id="desc"
            name="desc"
            value=""
            rows="2"
            placeholder="Description"
            required
          >
          </textarea>
        </div>
        <div>
          <label for="image">Upload Image</label>
          <input type="file" id="image" name="image" value="" required />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <hr />

    <h1>Uploaded Images</h1>
    <div>
      <div>
        {{#each images}}
        <div>
          <img src="data:{{this.img.contentType}};base64, {{this.img.data}}" />

          <div>
            <h5>
              {{this.name}}
            </h5>

            <p>
              {{this.desc}}
            </p>

          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>

</html>