<head>  
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <title> Acebook - Sign Up </title>
</head>
<body> 
  <div id="right"> 
    <h1> Acebook </h1> 

    <div class="sign-up">
      <form id="sign-up-form" action="/users/signup" method="post">
        <h3> <b> Create An Account </b> </h3>
        <p> It's quick and easy! </p>
        <div class="form-group">
          <label for="email">Email: </label>
          <input class="form-control input-lg"id="email" type="text" name="email" value="" required>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input class="form-control input-lg" id="password" type="password" name="password" value="" required>
        </div>  
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-lg btn-block signup-btn" value="Submit">
        </div>  
      </form>  
      <h4>If you already have an account please <a class="log-in-link" href="/users/login">Log in</a></h4>
    </div>
  </div>

</body>
<style>
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }
  
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 15px;
  }
  body {
    background: #dfe7e9;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
  }

  .form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
  }

  .form-control:focus {
    border-color: #5cb85c;
  }

  .sign-up {
    width: 480px;
    margin: 0 auto;
    padding: 30px ;
  }

  .sign-up form {
	  border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
  }

  .sign-up a {
		color: #5cb85c;
	}

  .sign-up h2 {
		text-align: center;
		font-size: 34px;
		margin: 10px 0 15px;
	}

	.sign-up .hint-text {
		color: #999;
		text-align: center;
		margin-bottom: 20px;
	}

	.sign-up .form-group {
		margin-bottom: 20px;
	}

  .sign-up .btn {        
    font-size: 18px;
		line-height: 26px;
    font-weight: bold;
		text-align: center;
  }

	.signup-btn {
		text-align: center;
		border-color: #5cb85c;
		transition: all 0.4s;
	}
	.signup-btn:hover {
		background: #5cb85c;
		opacity: 0.8;
	}    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>