<h1>Users found</h1>

<ul class="list-group" id="users">
  {{#each users}}
  <p id="user">
    <img id="profile-pic" src="data:image/{{this.profilePic.contentType}};base64,{{base64 this.profilePic.data}}" class="shrinkToFit" style="border-radius: 50%" width="50" height="50">
    <a id="view-profile" class="link-dark" href="/users/{{this._id}}">{{this.name}}</a>
  </p>
  {{/each}}
</ul>
