<h1 class="title">Profile Page</h1>
<ul class="user_profile">
  <li>{{user.id}}</li>
  <li id="first-name">{{user.firstName}}</li>
  <li id="last-name">{{user.lastName}}</li>
</ul>

<a class="new-post-link" href="/posts/new">New post</a>