<h1>Profile Page</h1>
<div class="user">
  <img id="profile-image" src="{{user.image}}" />
  <h2 id="user-name">{{user.name}}</h2>
</div>
<div>
  <h2>Friends</h2>
  {{#each user.friends}}
  <li>{{this.name}}</li>
  {{/each}}
</div>