<h1>Sign up form</h1>

<form id="sign-up-form" action="/users/signup" method="post">
  <label for="email">Email: </label>
  <input id="email" type="text" name="email" value="" required>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" required>
  <input type="submit" value="Submit">
</form>
