<h1>Sign up form</h1>

<form id="sign-up-form" action="/users/signup" method="post">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" value="" required>
  <label for="email">Email: </label>
  <input id="email" type="text" name="email" value="" required>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" required>
  <input type="submit" value="Submit">
</form>
{{ messages }}

<h3>If you already have an account please <a class="log-in-link" href="/users/login">Log in</a></h3>

