<h1>Login</h1>

<form id="log-in-form" action="/posts" method="get">
  <label for="email">Email: </label>
  <input id="email" type="text" name="email" value="" required>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" required>
  <input type="submit" value="Submit">
</form>