<!DOCTYPE html>
<html>
    <head>
        <title>Acebook Login</title>
    </head>

    <body>

        <h1 class="login"> Login Page</h1>

      <form id="login-form" action="/users/login" method="post">
        <label for="email"><b> Email </b> </label>
        <input id="email" type="text" name="email" placeholder="Enter Your Email">
        <label for="password"><b> Password </b> </label>
        <input id="password" type="password" name="password" placeholder="Enter Your Password">

        <input type="submit" value="Submit">
      </form>

    </body>

</html>
