<form id="new-user-form" action="/users" method="post">
  <ul>
    <li>
      <label for="name">Name:</label>
      <input id="firstName" type="text" name="name" value="">
    </li>

    <li>
      <label for="email">Email: </label>
      <input id="email" type="email" name="email" value="">
    </li>

    <li>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password" value="">
    </li>

    <li>
      <input id="submit" type="submit" value="Submit">
    </li>
  </ul>
  
  
</form>
