<div class="text-box">
  <h1>Register with Acebook</h1>
  <br>
  <div class="newUserForm">
    <form id="new-user-form" action="/users" method="post">
      <p>
        <label for="first_name">First Name </label>
        <input required id="first_name" type="string" name="first_name" value="">
      </p>
      <p>
        <label for="last_name">Last Name </label>
        <input required id="last_name" type="string" name="last_name" value="">
      </p>
      <p>
        <label for="email">Email </label>
        <input required id="email" type="email" name="email" value="">
      </p>
      <p>
        <label for="password">Password </label>
        <input required id="password" type="password" name="password" value="">
      </p>
      <p>
        <label for="img">Select profile image: </label>
        <input type="file" name="profile_img" id="img" accept="image/*">
      </p>
      <div class="submitButton">
        <input id="submit" type="submit" value="Submit">
      </div>
    </form>
  </div> 
</div>
