<h1>Sign up</h1>
<br>
<h3>Create a new account</h3>
<br>
<br>
<div>
  <form id="new-user-form" action="/users" method="post">
    <label for="email">Email: </label>
    <input id="email" type="email" name="email" value="">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" value=""> <br>
    <br>
    <input id="submit" type="submit" value="Sign-up!">
  </form>
</div>

<<<<<<< HEAD
=======
<form id="new-user-form" action="/users" method="post">
  <label for="fullname">Full name: </label>
  <input id="fullname" type="text" name="fullname" value="">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Sign-up!">
</form>


>>>>>>> 0ed57269f24b73ee8c22ba28da191053760284f1


