<div class="banner">
  <a><h1 class="title">Acebook</h1></a>
  <hr>
</div>

{{#if error }}
<div class="error-message">
    {{error}}
</div>
{{/if}}

<div id="parent">
  <div class="signup-box">
    <form id="new-user-form" action="/users" method="post">
      <label for="first-name">First Name: </label><br>
      <input id="first-name" type="first-name" name="firstName" value=""><br>
      <label for="last-name">Last Name: </label><br>
      <input id="last-name" type="last-name" name="lastName" value=""><br>
      <label for="email">Email: </label><br>
      <input id="email" type="email" name="email" value=""><br>
      {{!-- {{#if error.email}}
        <div class="error-message">{{error.email}}</div>
      {{/if}} --}}
      <label for="password">Password: </label><br>
      <input id="password" type="password" name="password" value="" required><br>
      {{!-- {{#if error.password}}
        <div class="error-message">{{error.password}}</div>
      {{/if}} --}}
      <label for="confirm-password">Confirm Password: </label><br>
      <input id="confirm-password" type="password" name="confirm-password" value="" required><br>
      <input id="submit" type="submit" value="Submit" class="global-button">
    </form>
    <p>Did you mean <a href="/sessions/new">login</a>?</p>
  </div>
</div>