<div class="center">
  <h1>AceBook</h1>
  <h2>Create account</h2>
  {{#if error}}
    <div id="error">{{ error }}</div>
  {{/if}}
  <form id="new-user-form" action="/users/new" method="post">
    <div><input id="name" type="text" name="name" value="" placeholder="Name" required></div>
    <div><input id="email" type="email" name="email" value="" placeholder="Email" required></div>
    <div><input id="password1" type="password" name="password1" value="" placeholder="Password" required></div>
    <div><input id="password2" type="password" name="password2" value="" placeholder="Confirm Password" required></div>
    <div><input id="submit" type="submit" value="Sign Up!"></div>
  </form>
  <div>Do you already have an account? <br><a href="/sessions/new">Click here</a> to login.</div>
</div>
