<div class="banner">
  <a><h1 class="title">Acebook</h1></a>
  <hr>
</div>

{{#if error }}
<div class="error-message">
    {{error}}
</div>
{{/if}}

<div id="parent">
  <div class="signup-box">
    <form id="new-user-form" action="/users" method="post">
      <label for="first-name">First Name: </label><br>
      <input id="first-name" type="first-name" name="firstName" maxlength="20" value="" required><br>
      <label for="last-name">Last Name: </label><br>
      <input id="last-name" type="last-name" name="lastName" maxlength="20" value="" required><br>
      <label for="email">Email: </label><br>
      <input id="email" type="email" name="email" value="" required><br>
      <ul>
        Passwords must contain:
        <li>At least 8 characters (A-Z)</li>
        <li>At least one number</li> 
        <li>At least one special characters</li> 
      </ul>
      <label for="password">Password: </label><br>
      <input id="password" type="password" name="password" value="" required><br>
      <label for="confirm-password">Confirm Password: </label><br>
      <input id="confirm-password" type="password" name="confirmPassword" value="" required><br>
      <input id="submit" type="submit" value="Submit" class="global-button">
    </form>
    <p>Did you mean <a href="/sessions/new">login</a>?</p>
  </div>
</div>