<h1>Sign up</h1>
<br>
<h3>Create a new account</h3>
<br>
<br>
<div>
 <form id="new-user-form" action="/users" method="post">
  <label for="firstName">First name: </label>
  <input id="firstName" type="text" name="firstName" value="">
  <label for="lastName">last name: </label>
  <input id="lastName" type="text" name="lastName" value="">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Sign-up!">
</form>
</div>




