<div class="whole-page">
  <div>
    <div class="main-title">
      <h1>Signup</h1>
    </div>

    <div class="grey-div login-signup">

      {{#if error}}
        <div class="error">
          <p>{{error}}</p>
        </div>
      {{/if}}

      <form class="" id="new-user-form" action="/users" method="post">

        <label for="name">Name: </label>
        <input class="input" id="name" type="text" name="name" placeholder="Name" required>

        <label for="email">Email: </label>
        <input class="input" id="email" type="email" name="email" placeholder="Email address" required>
        
        <label for="password">Password: </label>
        <input class="input" id="password" type="password" name="password" placeholder="Password" required>

        <input class="login-signup-submit" id="signup-button" type="submit" value="Sign up">
        
      </form>
    </div>
  </div>
</div>
