<div class="homepage-outermost">
  <div class="container">
    <form id="new-user-form" action="/users" method="post">
      <h1>Sign up</h1>
      <br>
      <input id="firstName" type="text" name="firstName" value="" placeholder=" First Name" required>
      <br>
      <input id="surName" type="text" name="surName" value="" placeholder=" Surname" required>
      <br>
      <input id="email" type="email" name="email" value="" placeholder=" Email" required>
      <br>
      <input id="password" type="password" name="password" value="" placeholder=" Password" required>
      <br>
      <input id="submit" type="submit" value="Submit">
      <br>
      <input id="profilePic" type="profilePic" name="profilePic" value="" placeholder="Drag your profile pic url here">
      <br>
      <input id="submit" type="submit" value="Submit">
    </form>
    <div id="error">{{error}}</div>
    <br>
    <a href="/">Sign in</a>
  </div>
</div>