<form id="new-user-form" action="/users" method="post">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="" required>
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="" required>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" required>
  <input type="submit" value="Submit">
</form>