
<form id="new-user-form" action="/users" method="post">
  <div class="sign-up-form-fields">
    <h2>Sign up below:</h2><br/>
    <div id="error_box"></div>
    <label for="firstName">First Name: </label>
    <input class="sign-up-in-inputs" id="firstName" type="text" name="firstName" value="">
    <label for="lastName">Last Name: </label>
    <input class="sign-up-in-inputs" id="lastName" type="text" name="lastName" value="">
    <label for="email">Email: </label>
    <input class="sign-up-in-inputs" id="email" type="email" name="email" value="">
    <label for="confirm_email">Confirm Email: </label>
    <input class="sign-up-in-inputs" id="confirm_email" type="email" name="confirm_email" value="">
    <label for="password">Password: </label>
    <input class="sign-up-in-inputs" id="password" type="password" name="password" value="">
    <label for="confirm_password">Confirm Password: </label>
    <input class="sign-up-in-inputs" id="confirm_password" type="password" name="confirm_password" value="">
    <input class="submit-button" id="submit" type="submit" value="Submit">

  </div>
</form>

<script>
  const form = document.getElementById('new-user-form');
  form.addEventListener('submit',function (e){
    if(form.email.value !== form.confirm_email.value ){
      e.preventDefault()
      document.getElementById('error_box').innerText = "Emails don't match, please correct it"
  }
    if(form.password.value !== form.confirm_password.value ){
      e.preventDefault()
      document.getElementById('error_box').innerText = "Passwords don't match, please correct it"
  }})
</script>



