<div class="container login-container">
  <div class="row">
    <div class="login-form">
      <h3>Sign Up to Acebook</h3>
      <form id="new-user-form" action="/users" method="post">
        <div class="form-group">
          <input id="name" type="text" name="name" value="" placeholder="Your Name" required>
        </div>
        <div class="form-group">
          <input id="email" type="email" name="email" value="" placeholder="Your Email" required>
        </div>
        <div class="form-group">
          <input id="password" type="password" name="password" value="" placeholder="Your Password" required>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit">
        </div>
      </form>
      <p style="text-align: center;"><small>Already have an account? <a href="/sessions/new">Log In here</a></small></p>
    </div>
  </div>
</div>
