<form id="new-user-form" action="/users" method="post">
  <label for="firstname">First Name: </label>
  <input id="firstname" type="text" name="firstname" value="">
  <label for="lastname">Last Name: </label>
  <input id="lastname" type="text" name="lastname" value="">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Submit">
</form>
