<div id="formContent">
  <form id="new-user-form" action="/users" method="post">
    <br>
    <legend id="title">Create an account</legend>
    <input type="email" id="email" class="" name="email" placeholder="email">
    <input type="password" id="password" class="" name="password" placeholder="password">
    <input type="submit" class="submit" value="Submit">
  </form>
</div>

