<body class="background">
  <div class="whole-page">
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
      <div class="w3-row">
        <div class="w3-col m7">
          <div class="w3-row-padding">
            <div class="w3-col m12">
              <form class="login-margin-top" id="new-user-form" action="/users" method="post">
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value="">
                <label for="email">Email: </label>
                <input id="email" type="email" name="email" value="">
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value="">
                <input id="submit" type="submit" value="Sign up">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
