<div>
  <img class="acebook-logo" src="/images/acebook-logo.png" alt="acebook logo">
</div>

<form id="new-user-form" action="/users" method="post">
  <div class="sign-up-form-fields">
    <h2>Sign up below:</h2><br/>
    <label for="first-name">First Name: </label>
    <input class="sign-up-in-inputs" id="first-name" type="text" name="first-name" value="">
    <label for="last-name">Last Name: </label>
    <input class="sign-up-in-inputs" id="last-name" type="text" name="last-name" value="">
    <label for="email">Email: </label>
    <input class="sign-up-in-inputs" id="email" type="email" name="email" value="">
    <label for="confirm-email">Confirm Email: </label>
    <input class="sign-up-in-inputs" id="confirm-email" type="email" name="confirm-email" value="">
    <label for="password">Password: </label>
    <input class="sign-up-in-inputs" id="password" type="password" name="password" value="">
    <label for="confirm-password">Confirm Password: </label>
    <input class="sign-up-in-inputs" id="confirm-password" type="password" name="confirm-password" value="">
    <input class="submit-button" id="submit" type="submit" value="Submit">

  </div>
</form> 
