<a href='/'>Home</a>

<form id="new-user-form" action="/users" method="post">
  <ul>
    <li>
      <label for="firstName">First Name:</label>
      <input id="firstName" type="text" name="firstName" value="">
    </li>

    <li>
      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" name="lastName" value="">
    </li>

    <li>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" value="">
    </li>

     <li>
      <label for="birthday">Birthday:</label>
      <input id="birthday" type="date" name="birthday" value="">
    </li>

     <li>
      <label for="location">Location:</label>
      <input id="location" type="text" name="location" value="">
    </li>

    <li>
      <label for="email">Email: </label>
      <input id="email" type="email" name="email" value="">
    </li>

    <li>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password" value="">
    </li>

    <li>
      <input id="submit" type="submit" value="Submit">
    </li>
  </ul>
  
  
</form>
