<form id="new-user-form" action="/users" method="post">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Sign up">
</form>
