<h2>Register A Profile</h2>
<form id="new-user-form" action="/users" method="post" enctype="multipart/form-data">
<div class="row g-3">

  <div class="col-md-6">
  <label for="name" class="col-sm-2 col-form-label">Name: </label>
  <input id="name" type="text" name="name" "required=required" value="" placeholder = "Name" class="form-control">
  </div>

  <div class="col-md-6">
  <label for="username" class="col-sm-2 col-form-label">Username: </label>
  <input id="username" type="username" name="username" "required=required" value="" placeholder = "Username" class="form-control">
  </div>

  <div class="col-md-6">
  <label for="email" class="col-sm-2 col-form-label">Email: </label>
  <input id="email" type="email" name="email" required value="" placeholder = "Email" class="form-control">
  </div>

  <div class="col-md-6">
  <label for="password" class="col-sm-2 col-form-label">Password: </label>
  <input id="password" type="password" name="password" required value="" placeholder = "Password  " class="form-control" >
  </div>

  <div class="col-md-6">
  <label for="file" class="col-sm-2 col-form-label">Profile Photo </label>
  <input class="form-control" id="file" type="file" name="file" >
  </div>

  <div class="col-md-7">
  <input id="submit" type="submit" value="Submit" class="btn btn-primary">
  </div>
</div>
</form>

      {{#if messages}}
          {{messages}}
      {{/if}}
