
 <body>
  <div id="formContent">
    <form id="new-user-form" action="/users" method="post">
      <br>
      <legend id="title">Create an account</legend>
      <input type="text" id="email" class="" name="email" placeholder="email">
      <input type="text" id="password" class="" name="password" placeholder="password">
      <input type="submit" class="" value="Submit">
    </form>
    </div>
  </body>
