<div class="text-box">
  <h1>Register with Acebook</h1>
  <br>
  <form id="new-user-form" action="/users" method="post" enctype="multipart/form-data">
    <label for="first_name">First Name: </label>
    <input required id="first_name" type="string" name="first_name" value="">
    <br>
    <label for="last_name">Last Name: </label>
    <input required id="last_name" type="string" name="last_name" value="">
    <br>
    <label for="email">Email: </label>
    <input required id="email" type="email" name="email" value="">
    <br>
    <label for="password">Password: </label>
    <input required id="password" type="password" name="password" value="">
    <br>
    <label for="img">Select profile image: </label>
    <input type="file" name="profile_img" id="img" accept="image/*">
    <input id="submit" type="submit" value="Submit">
  </form>
</div>
