<form id="new-user-form" action="/users" method="post">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="firstName"> First Name</label>
  <input id="firstName" type="text" name="firstName" value="">
  <label for="surName"> Surname</label>
  <input id="surName" type="text" name="surName" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <input id="submit" type="submit" value="Submit">
</form>
