<div class="container d-flex justify-content-center">
  <div class="row">

<h1>Sign Up</h1>
<form id="new-user-form" action="/users" method="post">
<div class="mb-3 mt-3">
  <label class="form-label" for="email">Email: </label>
  <input class="form-control" id="email" type="email" name="email" required>
</div>
<div class="mb-3">
  <label class="form-label" for="firstName"> First Name</label>
  <input class="form-control" id="firstName" type="text" name="firstName" required>
</div>
<div class="mb-3">
  <label class="form-label" for="surName"> Surname</label>
  <input class="form-control" id="surName" type="text" name="surName" required>
</div>
<div class="mb-3">
  <label class="form-label" for="password">Password: </label>
  <input class="form-control" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password" type="password" name="password" required>
  <div class="hidden" id="validation-message">
    <h6>Password must contain the following:</h6>
    <span id="letter" class="invalid">A <b>lowercase</b> letter</span>
    <br>
    <span id="capital" class="invalid">A <b>capital (uppercase)</b> letter</span>
    <br>
    <span id="number" class="invalid">A <b>number</b></span>
    <br>
    <span id="length" class="invalid">Minimum <b>8 characters</b></span>
  </div>
</div>


  <input class="btn btn-primary" id="submit" type="submit" value="Submit">
  <p id="error">{{message}}</p>
  {{# if message}}
  <iframe src="https://giphy.com/embed/njYrp176NQsHS" width="480" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  {{/if}}
</form>
  <p>Got an account? <a href="/sessions/new">Log In Here</a></p>
  </div>
</div>