<form id="new-user-form" action="/users" method="post">
  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" value="" />
  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" value="" />
  <label for="username">Username</label>
  <input id="username" type="text" name="username" value="" 
  <label for="phoneNumber">Phone Number</label>
<input type="tel" id="phoneNumber" name="phoneNumber" required/>

  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="" />
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" />
  <input id="submit" type="submit" value="Submit" />
</form>

{{!-- UK phone number regex --}}
{{!-- ^(?:0|\+?44)(?:\d\s?){9,10}$ --}}
