
<!DOCTYPE html>

<html>
  <center>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="hero has-background-info-dark">
  <div class="hero-body">
    <p class="is-family-sans-serif is-size-1 has-text-weight-bold has-text-light">
      Maker Mate
    </p>
    <p class="is-family-sans-serif is-size-3 has-text-light">
      Sign Up to get started!
    </p>
  </div>
</section>
  </body>
  </center>
</html>


<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Enter email address" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This email is available</p>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Enter a password" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This password is invalid</p>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <form id="new-user-form" action="/users" method="post">
      <button class="button is-link">Submit</button>
    </form>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>









