<head>
  <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css'  rel="stylesheet">
</head>

<div style="text-align:center">
<form id="new-user-form" action="/users" method="post">
  <h1 style="color: rgb(19, 168, 236); font-family: Verdana;"> Sign up for an Acebook account </h1>
  <input id="username" type="text" name="username" placeholder="username" /><br />
  <input id="email" type="email" name="email" placeholder="email"/><br />
  <input id="password" type="password" name="password" placeholder="password" /><br />
  <input id="image" type="file" name="profilePic" placeholder="Photo" capture>
  <input id="submit" type="submit" value="Submit"/>
</form>
</div>
