<form id="new-user-form" action="/users" method="post">
  <h1>Sign up</h1> 
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <label for="firstName">First name: </label>
  <input id="firstName" type="firstName" name="firstName" value="">
  <input id="submit" type="submit" value="Submit">
</form>
<a href="/sessions/new">Sign in</a>
