<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    <title>Acebook Profile Page</title>

    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"> 
    <link rel="stylesheet" href="../..public/stylesheets/bootstrap.min.css">                                      
    <link rel="stylesheet" href="../../public/stylesheets/magnific-popup.css">                                
    <link rel="stylesheet" href="../../public/stylesheets/templatemo-style.css">
    
    <link >
  </head>

  <!-- <style>
    body {
      background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style> -->

    <body>        
      <div class="container">
          <div class="row">
              <div class="tm-left-right-container">
                  <!-- Left column: logo and menu -->
                  <div class="tm-blue-bg tm-left-column">                        
                      <div class="tm-logo-div text-xs-center">
                          <img style="margin-left: 80px; height: 200px; width: auto; " src="../../public/images/images.png" alt="Logo">
                          <h4 style="margin-left: 75px;" > {Fullname} Profile Page </h4>
                      </div>
                      <nav class="tm-main-nav">
                          <ul class="tm-main-nav-ul">
                              <ul >{Username} </ul>
                              <ul >{Email} </ul>
                              <br>
                              <br>
                              <li class="tm-nav-item">
                                  <a href="/posts" class="tm-nav-item-link">Posts</a>
                              </li>
                              <li class="tm-nav-item">
                                  <a href="/posts/new" class="tm-nav-item-link">New Posts</a>
                              </li>
                              <li class="tm-nav-item">
                                  <a href="#" class="tm-nav-item-link">Connect & Search</a>
                              </li>
                              <br>
                              <ul class="tm-nav-item">Date joined Acebook: {mm/year} </ul>
                          </ul>
                      </nav>                                         
                  </div> <!-- Left column: logo and menu --> 
                     <!-- Right column: content -->
                  <div class="tm-right-column">
                      <figure>
                          <img src="img/neaty-01.jpg" alt="Header image" class="img-fluid">    
                      </figure>

                      <div class="tm-content-div">
                          <!-- Welcome section -->
                          <section id="welcome" class="tm-section">
                              <header>
                                  <h3 class="tm-blue-text tm-welcome-title tm-margin-b-45">{fullname}'s Bio </h3>
                              </header>
                              <p> My fav thing to do is....Thank you for reading my page. Suspendisse imperdiet, felis eu hendrerit pretium, sapien mauris blandit arcu, et accumsan neque est ut erat. Vivamus eget tellus euismod, interdum nibh at, eleifend justo. Quisque placerat ante in ex tempor, ultrices bibendum nunc finibus. Etiam luctus nec eros vel pulvinar.</p>
                              <a href="#" class="tm-button tm-button-wide">edit</a>  
                            </section>
                          <!-- About section -->
                          <section id="about" class="tm-section">
                              <div class="row">                                                                
                                  <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 push-lg-4 push-md-5">
                                      <header>
                                          <h3 class="tm-blue-text tm-section-title tm-margin-b-45">Your Recent Posts</h3>
                                      </header>
                                      <div class="rposts1">
                                        <img class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-lg-8 pull-md-7 tm-about-img-container"  src="img/neaty-02.jpg" alt="Image" class="img-fluid">  
                                      <p>{Timestamp}</p>
                                      <p>Sed turpis nunc, laoreet sit amet fermentum sed, euismod ac justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                      <p>Donec ut lectus semper, sollicitudin risus blandit, mattis felis. Nam non malesuada odio. Vestibulum vaius, arcu eget rutrum consequat, arcu lacus imperdiet arcu, id pulvinar arcu erat vel magna.</p>
                                 </div> 
                                </div>
                              </div>                            
                          </section>  
                      </div>
                  </div> 
              </div>
          </div> 
      </div>            
    </body>


<script src="../../public/javascripts/materialize.js"></script>  
<script src="../../public/javascripts/materialize.min.js"></script>  

</html>