<form action="/users/uploadPhoto" enctype="multipart/form-data" method="post">
          <input class="choose-file-btn" type="file" name="myImage" />
          <input class="upload-btn" type="submit" value="Upload Photo" />
</form>

 