<h1 id="title" class="title">{{user.firstName}} {{user.lastName}}</h1>
<img class="profile-pic" src="/users/photo/{{user._id}}"  alt="profile picture"/>
<a href="/users/profile/edit"> Edit Profile</a>
<p id="bio">
   {{user.bio}}
</p>