
<div class="profile-header">
  <div class="profile-picture">
    <h3>Profile picture</h3>
    <img src="" class="profile-picture" width="" />
  </div>
  <div class="profile-names">
    <h3>User Name</h3>
  </div>
  <div>
    <p>20 friends</p> 
  </div>
  <div>
    <button type="button">Add me</button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{{!-- body left side --}}
<div class="profileBodyLeft">
  <div class="intro">
    <h3>Intro</h3>
      <div class="content">
        <div class="Bio">
          <p class="bio">bio: Learning how to clone FB</p>
        </div>
        <div class="bioUpdate">
          <button type="button">Update bio</button>
        </div>
        <div class="profilePicUpdate">
          <button type="button">Update profile pic</button>
        </div>
        <div class="editUserAccount">
          <button type="button">Edit user account</button>
        </div>
      </div>
    </div>

  <div class="photos">
    <a href=""><h3>Photos Grid</h3></a>
      <div class="content">
        <div class="row">
          <div class="col"><a href="#"><img src="" width="100%" /></a></div>
          <div class="col"><a href="#"><img src="" width="100%" /></a></div>
          <div class="col"><a href="#"><img src="" width="100%" /></a></div>
        </div>
      </div>
  </div>

{{!-- body right side --}}
<div class="profileBodyLeft">
  <div class="posts">
    <h3>Posts</h3>
  </div>
</div>
 
 