<h1 class="title"> Cleo Catra  {{firstName}} {{lastName}}</h1>
<img class="profile-pic" src="https://www.petplace.com/static/4192bcd49615cfb2526eb7cb95443c48/c85e8/shutterstock_632318627.png" alt="profile picture"/>
<p>
    I'm gold and bold and very lovable. I'm living my purrrrfect life! Cats rule, dogs drool!
</p>