<h1> Profile Page </h1>
<h1>
  {{#each user}}
  {{this.username}}
  {{this.profilePic}}
  {{this.email}}
{{/each}}
  <h1>List of Friends:</h1>
{{#each user}}
  {{#each this.friends}}
  <li>
  {{this}}
  </li>
  {{/each}}
  {{/each}}
</h1>