<h1 class="title">{{user.firstName}} {{user.lastName}}</h1>
<img class="profile-pic" src="/users/photo/{{user._id}}"  alt="profile picture"/>


<h6>Change profile picture</h6>
<form id="profile-pic-form" action="/users/profile" method="post" enctype="multipart/form-data">
    <input type="file" id="img" name="img" accept="image/*">
    <br>
    <input type="submit" value="Change">
</form>


<p>
   {{user.bio}}
</p>