<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Acebook Profile Page</title>

  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <link rel="stylesheet" href="../..public/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="../../public/stylesheets/templatemo-style.css">
  <!-- <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css"> -->

    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    {{!-- <link rel="stylesheet" href="../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="../../stylesheets/templatemo-style.css"> --}}
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
</head>

<style>
  .input-box {
    width: 100%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    background: rgba(250, 250, 250, 0.9);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-left: 0px;
    font-family: 'Ubuntu', sans-serif;
  }
</style>


<!-- <style>
    body {
      background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style> -->

<body>
        <!-- Left column: logo and menu -->
              <div class="tm-left-right-container">
                  <!-- Left column: logo and menu -->
                  <div class="tm-blue-bg tm-left-column">
                      <div class="tm-logo-div text-xs-center">
                          <img style="margin-left: 80px; height: 200px; width: auto; " src="../../images/images.png" alt="Logo">
                          <h4 style="margin-left: 75px; font-family: 'Bungee', cursive" > {{user.fullname}} Profile Page </h4>
                          <ul>
                              <ul >{{user.username}} </ul>
                              <ul >{{user.email}}</ul>
                              <br>
                              <br>
                              <li class="tm-nav-item tm-button2">
                                  <button href="/posts" class="tm-nav-item-link tm-button2">Posts</button>
                              </li>
                              <li class="tm-nav-item tm-button2">
                                  <button href="/posts/new" class="tm-nav-item-link tm-button2">New Posts</button>
                              </li>
                              <li class="tm-nav-item tm-button2">
                                  <button href="#" class="tm-nav-item-link tm-button2">Connect & Search</button>
                              </li>
                              <br>
                              <ul class="tm-nav-item">Date joined Acebook: {mm/year} </ul>
                          </ul>
                      </div>
                  </div>
            </div>

                  </div> <!-- Left column: logo and menu -->
                     <!-- Right column: content -->
                  <div class="tm-right-column">
                      <figure>
                          <img class="cropped" src="../../images/Friends--unsplash.jpg" alt="Header image" >
                      </figure>

                      <div class="tm-content-div">
                          <!-- Welcome section -->
                          <section id="welcome" class="tm-section">
                             <header>
                                  <h3 class="tm-blue-text tm-welcome-title tm-margin-b-45 title" style="font-family: 'Bungee', cursive">{{user.fullname}}'s Bio </h3>
                              </header>
                            <form action="/users/profile" method="POST">
                              <textarea rows = "15" cols= "60" name="biobox" style="margin-top: 1em; font-size: 18px;" class="input-box" align="center" placeholder="This is your bio, please edit me now!" ></textarea>
                              <input style="margin-top:2em; background-color: #337AB7; border-color: #2E6DA4" class="waves-effect btn btn-primary btn-block" type='submit' value="Submit">
                            </form>
                         </section>
                        <!-- About section -->
                          <section id="about" class="tm-section">
                              <div class="row">
                                  <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 push-lg-4 push-md-5">
                                      <header>
                                          <h3 class="tm-blue-text tm-section-title tm-margin-b-45" style="font-family: 'Bungee', cursive">Your Recent Posts</h3>
                                      </header>
                                      <div class="rposts1">
                                      <p>{Timestamp}</p>
                                      <p>Sed turpis nunc, laoreet sit amet fermentum sed, euismod ac justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                      <p>Donec ut lectus semper, sollicitudin risus blandit, mattis felis. Nam non malesuada odio. Vestibulum vaius, arcu eget rutrum consequat, arcu lacus imperdiet arcu, id pulvinar arcu erat vel magna.</p>
                                 </div>
                                </div>
                              </div>
                          </section>
                      </div>
                  </div>
    </body>
