<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h1 data-cy="greeting">{{userName}}</h1><br>
  <div>
    <ul class="post" data-cy="user-posts">
      {{#each posts}}
      <li>
        {{this.message}}
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <ul class="requests">
      {{#each requests}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>
  </div>
</body>
</html>