<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="../../public/css/popupS.css">
    </head> 
        
    <body>
        
        


    <form id="sign-up-form" action="/users/register" method="post">
    <label for="fullname"><b> Fullname </b> </label>
    <input id="fullname" type="text" name="fullname" placeholder="Enter Your Fullname">
    <label for="email"><b> Email </b> </label>
    <input id="email" type="text" name="email" placeholder="Enter Your Email">
    <label for="username"><b> Username </b> </label>
    <input id="username" type="text" name="username" placeholder="Enter Your Username">
    <label for="password"><b> Password </b> </label>
    <input id="password" type="password" name="password" placeholder="Enter Your Password">
    <label for="repeat_password"><b> Confirm Password </b> </label>
    <input id="repeat_password" type="password" name="repeat_password" placeholder="Confirm Password">

    <input type="submit" value="Submit">
    </form>


    </body>

</html>