<!DOCTYPE html>
<html>


<title> Friend Requests </title>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Acebook Profile Page</title>

  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  
<link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">

    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
</head>

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="/users/profile" title="My Profile Page">My Profile Page</a></li>
          <li><a href="/posts" title="Posts">Posts</a></li>
          <li><a href="/users/search" title="Search">Search</a></li>
          <li><a href="/users/logout" title="Log out">Log out</a></li>
        </ul>

        <div class="footer-container">
          <p><small>© We Push Master | Website created with much toil, blood & sweat!</small></p>  
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

<body>
<h1> Friend Requests </h1>
{{#if user.friendrequests}}
{{#each user.friendrequests}}
<p> {{this}} </p>
<form id="accept"  method="post" action="/users/{{this}}/accept">
  <button type="submit" value="submit"> Accept </button>
</form>
<form id="decline"  method="post" action="/users/{{this}}/decline">
  <button type="submit" value="submit"> Decline </button>
</form>
{{/each}}
{{else}}
<p>No Friend Requests</p>
{{/if}}

</body>
<script type="text/javascript" src="../../toggle.js"></script>
<script type="text/javascript" src="../../public/javascripts/toggle.js"></script>

</html>