<!DOCTYPE html>
<html>
<head>
</head>
<body>

<form id="search" type="submit" method="post" action="/users/search">
  <input id="username" name="username" type="text" placeholder="Search here">
  <button type="submit" value="submit"> Search now </button>
</form>


</body>
