<!DOCTYPE html>

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="/users/profile" title="My Profile Page">My Profile Page</a></li>
          <li><a href="/posts" title="Posts">Posts</a></li>
          <li><a href="/users/search" title="Search">Search</a></li>
          <li><a href="/users/logout" title="Log out">Log out</a></li>
        </ul>

        <div class="footer-container">
          <p><small>© We Push Master | Website created with much toil, blood & sweat!</small></p>  
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

<html>

<title> Search Results Page </title>

<body>
<h1 class="list">
{{#each users}}              <!-- for each post in the db print all of the below -->
<li>{{this.fullname}}</li>
<li>{{this.username}}</li>
<li> <a href='/users/{{this.username}}'> View profile</a></li>
<p> ----------------- </p>
{{/each}}
</h1>
</body>

<script type="text/javascript" src="../../toggle.js"></script>
<script type="text/javascript" src="../../javascripts/toggle.js"></script>
<script type="text/javascript" src="../../public/javascripts/toggle.js"></script>
</html>