{{#each posts}}
<form id="comment-post-form" action="/posts/{{this._id}}" method="post">
  <label for="comment">Write your comment: </label>
  <input id="comment" type="text" name="comment" value="">
  <input type="submit" value="Submit">
</form>
{{/each}}
