{{!-- {{#each posts}}
<form id="comment-post-form" action="/posts/{{this._id}}/comment" method="post">
  <label for="comments">Write your comment: </label>
  <input id="comments" type="text" name="comments" value="">
  <input type="submit" value="Submit">
</form>
<<<<<<< HEAD
{{/each}}





=======
{{/each}} --}}
>>>>>>> e0fd0e1fcdacf734807d52dae262662422afc641
