<head>
  <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css'  rel="stylesheet">
</head>


<h1>Original Post: {{post.message}}</h1>
{{!-- <form id="comment-form" action="/posts/{{id}}" method="post"> --}}
<input type="text" name="comments">
<input type="submit" value="submit">
</form>
<h4>Comments:</h4>
<ul>
<h2>{{#each comments}}</h2>
<li>{{this}}</li>
{{/each}}
</ul>
