{{#each posts}}
<form id="comment-post-form" action="/posts/{{this._id}}/comment" method="post">
  <label for="comments">Write your comment: </label>
  <input id="comments" type="text" name="comments" value="">
  <input type="submit" value="Submit">
</form>
{{/each}}