<form id="edit-post-form" action="/edit/:_id" method="post">
  <label for="message">Edit Your Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>
