<form action="/users/{{../user.username}}/posts/{{post._id}}/edit" method="POST">
  <label for="content">Edit Post:</label>
  <textarea id="content" name="content">{{post.message}}</textarea>
  <button type="submit">Save</button>
</form>
