<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li> 
  <li>{{this.likes}} likes</li>
  <form action="/posts/{{this._id}}/like" method="post">
    <button type="submit">Like</button>
  </form>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>