<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>
    {{this.message}}
    <a class="update-post-link" href="/posts/update">Update post</a>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
