<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <div class="post">
      <li>{{this.author.name}}</li>
      <li>{{this.createdAt}}</li>
      <li>{{this.message}}</li>
    </div>
  {{/each}}
</ul>