<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  <form id="like-form" action="/posts" method="post" >
  <input type="submit" value="Like">
  </form>
    
  {{/each}}
</ul>
<a class="new-post-link" href="/posts/new">New post</a>
