<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li class="post-message">{{this.message}}</li>
    <li class="post-likes">{{this.likesCount}} likes</li>
    <form action="/likes" method="post">
      <input type="hidden" name="postId" value={{this._id}} />
      <button type="submit" class="like-button">❤️</button>
      <p>{{this.likedBy}}</p>
    </form>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>