    <link rel='stylesheet' href='/stylesheets/style.css' />

    <a class="new-post-link" href="/posts">Home</a>
    <a class="posts-link" href="/profile">Profile</a>

    <div>
      <form action="/login" method="get">
        <button type="submit" id="logout">Log out</button>
      </form>
    </div>
    <h1>Timeline</h1>
    <div class="tlposts">
      <ul class="posts">
        {{#each posts}}
        <li>{{this.owner}} </li>
        <li>{{this.message}} </li>
        <li>{{this.date}} </li>
        <br>
        {{/each}}
      </ul>
    </div>

    <a class="new-post-link" href="/posts/new">New post</a>
