<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}
    {{#each this.comments}}
    {{this.comment}}
    {{/each}}
    <form id="new-comment-form" action="/comments" method="post">
      <input id="comment" placeholder="comment" type="text" name="comment" value="">
      <input id="post_id" name="post_id" type="hidden" value="{{this._id}}">
      <input type="submit" value="Comment">
    </form>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
