<h1>Timeline</h1>
<div id="post">
<ul class="posts">
  {{#each posts}}
  <div class="post-div" postId={{this._id}}>
    <li>{{this.message}}</li>
    <button class="like-button">Like</button>0
  </div>
  <div class="delete-post">
    <form action="/posts/{{this._id}}" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete post" />
    </form>
  </div>
  {{/each}}
</ul>
</div>
<a class="new-post-link" href="/posts/new">New post</a>
<script>
      let likeButtonElArr = document.querySelectorAll('.like-button');
      likeButtonElArr.forEach(buttonEl => buttonEl.addEventListener('click',() => {
      console.log('you clicked on like btn!');}))
</script>
