<h1>Timeline</h1>

{{#each posts}}
<br>
<div class="card text-center">
  <div class="card-header"> 
    <h5>USER: {{this.username}}</h5>
  </div>
  <div class="card-body">
    <p class="card-title"> MESSAGE: {{this.message}} </p>
    {{!-- <p class="card-text">Comment</p> --}}
  </div>
</div>
{{/each}}


<a class="new-post-link" href="/posts/new">New post</a>
<br>
<br>
<a class="upload-photo" href="/photos/new">Upload your profile photo</a>
