<h1>Timeline</h1>

<div class = "posts">
  {{#each posts}}
<<<<<<< HEAD
<ul>
  <li>{{this.message}}</li>
  <li>{{this.username}}</li>
  <li>{{this.time_posted}}</li>
=======
    <li>{{this.message}}</li>
  {{/each}}
>>>>>>> origin/main
</ul>
</div>
{{/each}}


<a class="new-post-link" href="/posts/new">New post</a>