<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div class="post-div" postId={{this._id}}>
    <li>{{this.message}}</li>
    <input type="button" value="Like" class="likeUnlike" data-button-id={{this._id}} >
  </div>
  {{/each}}
</ul>
<a class="new-post-link" href="/posts/new">New post</a>



