

<h1>Timeline</h1>
<div class="posts">
  {{#each posts}}
  <div class="post">
    <div class="post-message">
      {{this.message}}
      </div>
      <div class="footer">
        <form action="/posts/new_comment" method="post" class="new-comment-link">
          <input type="hidden" name="post_id" value="{{this._id}}">
          </input>
          <input type="submit" value="Add comment">
        </form>
      </div>
      {{#each this.comments}}
      <div class="comment">
        {{this.message}}
      </div>
      {{/each}}
  </div>
  {{/each}}
</div>

<a class="new-post-link" href="/posts/new">New post</a>
