 <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}} {{this.createdAt}} {{this.likes}}</li>
 
 {{!-- <form action=`/posts/${this._id}/likes` method='POST'`>
   <input type="submit" value="Me likey">
  </form> --}}

  
  {{!-- <div class="likes-section" 
    <span class="likes">0 likes</span>
    <button class="like-button">*</button>
  </div>
  <script src="/controllers/likes.js"></script>
 --}}
 
  <button onclick="likehandler(event)" class="like__btn">
    <span id="icon"><i class="far fa-thumbs-up"></i></span>
    <span id="count">0</span> Like
  </button>
  <script src="/client.js"></script>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
