<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <form action="/posts/{{this._id}}?_method=DELETE" method="post">
    <li>{{this.message}}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="delete-button"><i class="fas fa-trash-alt fa-1x"></i></button>
         <a class="update-post-link" href="/posts/update/{{this._id}}">Update post</a>
    </li>
  </form>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
