<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <small id="datestamp">Created at {{this.createdAt}}</small>
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
