{{#if messages.success}}
  <ul class="messages">
    {{#each messages.success}}
      <p class="message">{{this}}</p>
    {{/each}}
  </ul>
{{/if}}
{{#if messages.error}}
  <ul class="errors">
    Error: {{#each messages.error}}
      <p class="error">{{this}}</p>
    {{/each}}
  </ul>
{{/if}}

{{> posts/form }}

<section class="timeline-section">
  <ul class="posts">
    {{#each posts}}
      {{> posts/post this}}
    {{/each}}
  </ul>
</section>

<script type="module" src="/javascripts/main.js"></script>
