<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li>
      <div class="post">
        <ul>
          <li>{{this.author.name}}</li>
          <li>{{this.createdAt}}</li>
          <li>{{this.message}}</li>
        </ul>
      </div>
    </li>
  {{/each}}
</ul>