
<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li class="each-message">{{this.message}}<br>{{this.date}}</li>
  <!-- To implement a delete button, method should be DELETE -->
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
