<body class="background"></body>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Accordion DON'T DELETE FOR NOW!!!!!!!!! -->
      <br>
    </div>
    <!-- End Left Column -->
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
         
          <!-- Headline -->
          <h1 class="w3-text-white">Timeline</h1>
          <div class="w3-card w3-round-xlarge post-bgc">
            <div class="w3-container w3-padding">
              
              <!-- New Post -->
              <h6 class="w3-opacity"></h6>
              <p contenteditable="true" class="w3-border w3-padding">What's on your mind?</p>
              <a class="new-post-link w3-button w3-theme w3-round-large"  href="/posts/new"><i class="fa fa-pencil"></i> New post</a>

            </div>
          </div>
        </div>
      </div>
      
      <!-- Posts Overview -->
      {{#each posts}}
      <div class="w3-container w3-card post-bgc w3-round-xlarge w3-margin">
        <br>
        <img src="../images/cutie-pie.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
        <h4>Cutie Pie</h4>
        <br>
        <hr class="w3-clear">
        <p>{{this.message}}</p>
        
        <div class="new-post-link w3-button w3-theme w3-margin-bottom w3-round-large"  href="#likes"><i class="fa fa-thumbs-up"></i> Like</div>
        <div class="new-post-link w3-button w3-theme w3-margin-bottom w3-round-large"  href="#comments"><i class="fa fa-comment"></i> Comment</div>      
      </div>  
        {{/each}}