<h1>Timeline for {{ name }} </h1>
 <h4 class="name">{{user.name}}</h4>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
<a class="view-profile-link" href="./users/profile">Profile</a>
