<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li style = 'white-space: pre-wrap'>{{this.message}}</li>
  <!-- To implement a delete button, method should be DELETE -->
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
