<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>
    {{this.message}}
    <form action="/posts/update" method="post">
      <label for="comments"></label>
      <input id="comments" type="text" name="comments" value="">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" value="Add a comment">
    </form>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
