<div class="feed-container">

<div class="messages">
{{#if messages.success}}
    {{#each messages.success}}
      <p class="message">{{this}}</p>
    {{/each}}
{{/if}}
{{#if messages.error}}
    Error: {{#each messages.error}}
      <p class="error">{{this}}</p>
    {{/each}}
{{/if}}
</div>

<div class="timeline-section">
  <h2 class="titles">Your Timeline</h2>
    {{#each posts}}
      <div class="post-container">
        {{> posts/post this}}
      </div>
    {{/each}}
</div>

<div class="new-post">
  {{> posts/form }}
</div>


<script type="module" src="/javascripts/main.js"></script>
