<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li >{{this.message}} - {{this.createdAt}}</li>
    <form method="POST" action="/posts/{{this._id}}">

      <input type="submit" value="comment">
    </form>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
