<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}

  <li > <div><!-- Username and profile picture -->{{this.createdAt}}</div>
        <div>{{this.message}} <img src="https://fsymbols.com/images/heart.png" id="like-button"/> {{this.likes.length}}</div> 
  </li>
  
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
