<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<form class="Logout" action="/" method="get">
<button id="Logout" name="Logout" class="btn btn-primary">Logout</button>
</form>

<a class="new-post-link" href="/posts/new">New post</a>
