<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
    <body> 
      <nav class="nav"> 
        <a class="a" href="/">Home</a>
        <a class="a" href="/posts">Posts</a>
        <a class="a" href="/posts/new">New posts</a>
        <a class="a" href="/">Log Out</a>
      </nav>
    </body>
  <br>
  <br>
  <h1>Timeline</h1>
  <br>
  <br>
  <ul class="posts">
    {{#each posts}}
    <li>{{this.message}}</li>
    <br>
    {{/each}}
  </ul>
  <br>
  <br>
  <a class="new-post-link" href="/posts/new">New post</a>
 </html>