<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <img src="/users/{{ this.author }}/profilepicture" alt="">
  <li>{{ this.message }} @ {{ idtotime this._id }} by {{ this.author }}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
