<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li> 
  0 like 
  <a href="/posts/{{this.id}}/like">Like</a>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
