<form action='/sessions?_method=DELETE' method='POST' >
      <input id="logout" type="submit" value="Log out">
</form>
<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
