<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li id="list" class="post">{{this.message}} {{this.formatDate}}</li> 
    <form id="delete-list-button" action="/posts/delete" method="post">
      <input type="submit" name="{{this.message}}" value="Delete posts">
      <input type="hidden" name="_id" value={{this.id}}>
  </form>
  {{/each}}
</ul>


  
<a class="new-post-link" href="/posts/new">New post</a>


