<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div class="post-div" postId={{this._id}}>
    <li>{{this.message}}</li>
    <button class="like-button">Like</button>0
  </div>
  {{/each}}
<script type="text/javascript" src="/javascripts/likesEvent.js"></script>
</ul>
<a class="new-post-link" href="/posts/new">New post</a>