<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div>
    <form id="delete-post-form" action="/posts/delete" method="post">
      {{this.message}}
      <input id="id" type="hidden" name="id" value="{{this._id}}">
      <input type="submit" value="Delete">
    </form>
  </div>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
<a class="delete-post-link" href="/posts/delete">Delete post</a>
