<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <img src="/users/{{ this.author }}/profilepicture" alt="">
    <li><h3>{{this.message}}</h3>
    <li><h4>by {{ this.author }}</h4>
    <p> {{idtotime this._id}}</p></li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
