<!DOCTYPE html>
  <html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel='stylesheet' href='/stylesheets/posts-index.css' />

    <header>

        <span class="site_logo"> 
          <img src="images/logo trial 3.png" alt="Acebook" height="50">
        </span>
        
        <span>
          <a href="/posts/new">New post</a>
          <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="/sessions/new">Sign Out</a>
        </span>

    </header>

  </head> 

  <body>
    <div class="content">
      <h1>Timeline</h1>

      <div class="posts">

        <div class="post">
          {{#each posts}}
              <div class="title">
                <span>
                  Photo
                  Username
                </span>

                <span>
                  <p>Request</p>
                </span>
              </div>
              <p>{{this.message}}</p>

              <span>
                <p>{{this.likes}} likes</p>
                <p>Comment</p><br>
              </span>
            <hr><br>
          {{/each}}
        </div>
        

      </div>

    </div>


  </body>

</html>


