<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.content}}</li>
  <!-- Add a like button -->
  {{/each}}
</ul>
<form action="/users/profile/{{session.user.username}}" method="get">
    <input type="submit" value="My profile" />
</form>

<form id="search-form" action="/users/search" method="get">
  <input type="text" name="search" id="search" />
  <input id="submit" type="submit" value="Search" />
</form>

<form action="/posts/new" method="get">
    <input type="submit" value="New post" />
</form>