<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li><h3>{{this.message}}</h3>
  <p> {{idtotime this._id}}</p>
  <form action="/posts/like" method="post">
    <input type="submit" value="Like">
  </form>
  <p id="like-count"></p> <!-- will be used later on to display number of likes -->
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
