<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <img src={{this.profilePic}}/>
  {{this.username}}
  <li>{{this.message}}</li>
  <img class="post-image" src="{{this.image_url}}" />
  <form id="comment" action="/posts/comments" method="get">
  <br><input type="submit" value="comment"><br>
  <br>{{/each}}</li>
  </form>
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
