<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li style="white-space: break-spaces;">{{this.message}}<br></br> {{this.date}}.</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
