


<h1>Timeline</h1>
<ul class="posts" >
 {{#each posts}}
<div class="card">
  <div class="post-user">
   <li><small style= "font-size:0.7em">{{this.user.email}}</small></li>
  </div>
   <div class="post-date" style = "position:relative; left:62.5%;";>
      <li><small style= "font-size:0.7em">{{this.time}}</small></li>
  </div>
  <div class="post-message">
  <li>{{this.message}}</li>
  </div>
  <form action='/posts/{{this.id}}?_method=DELETE' method='POST'>
  <div class="btn-text-right">
  <button class="btn"><i class="fa fa-trash"></i></button>
  </div>
</form>
</div>
  
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<form action='/sessions?_method=DELETE' method='POST'>
  <button type="submit" value="Log Out">Log out</button>
</form>



