<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}} by {{this.author_name}} on {{this.date}}</li>
  {{!-- lists comments here --}}
  <form id="new-comment-form" action="/posts/comment" method="post">
    <label for="message">Comment: </label>
    <input id="message" type="text" name="message" value="">
    <input type="submit" value="Submit">
  </form>
  {{/each}}
  
</ul>
<form action='/sessions?_method=DELETE' method='POST'> 
      <input type="submit" value="Log out">
</form> 
<a class="new-post-link" href="/posts/new">New post</a>
