<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>

  <form action="/posts/delete/{{this._id}}" method="post">
    <input type="submit" value="Delete" />
  </form>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
