<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <form action="/posts/{{this._id}}?_method=DELETE" method="post">
    <li>{{this.message}}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="delete-button"><i class="fas fa-trash-alt fa-1x"></i></button>
        <a class="update-post-link" href="/posts/update/{{this._id}}">Update post</a>
    </li>
  </form>
  <div>
    <button id="like-button">
      <i class="fas fa-thumbs-up fa-2x"></i>
    </button>
    <span id="like-counter"></span>
    <button id="dislike-button">
      <i class="fas fa-thumbs-down fa-2x"></i>
    </button>
    <span id="dislike-counter"></span>
    <span id="commentBox"></span>
  </div>

  

  <div class="form-popup" id="commentBox">
  <button type="button" class="button" id="commentButton">Comment</button>
  <form action="/posts" class="form-container">
    <input type="text" placeholder="Enter Comment" name="comment-text" required> 
    <button type="submit" class="btn">Send</button>
  </form>
</div>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>





