<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}<br>
  <form id="comment" action="/posts/comments" method="get">
  <br><input type="submit" value="comment"><br>
  <br>{{/each}}</li>
  </form>
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
