<h1>Timeline</h1>
<a class="new-post-link" href="/posts/new">New post</a>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}<br>
  <form id="comment" action="/posts/{{this.id}}" method="get">
  <input value="comment" type="submit">
  </form>
  {{/each}}
</ul>
<h1>List of Other Users:</h1>
  {{#each user}}
  {{!-- {{#if user === }} This should not include the user's name in the friend's list --}}
  <li>{{this.email}}</li>
  <form action="/users/friend" method="post">
    <input type="button" value="Friend" >
  </form>
  <br>
</ul>
{{/each}}
