<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  <button type="submit" value="Delete"/>
  {{/each}}
</ul>
{{msg}}
<a class="new-post-link" href="/api/posts/new">New post</a>
