<main id="posts-main">
  <h1 class="timeline-text">Timeline</h1>
  <form id="new-post-form" action="/posts" method="post">
    <label class="input-post" for="message"></label>
    <input id="message" type="text" name="message" value="" placeholder="Talk To The Constable">
    <input type="submit" value="Submit">
  </form><br>
  <ul class="posts">
    {{#each posts}}
    <li class="frm-textbox-yellow">
      {{this.message}}
      <form id="add-comment-to-post" action="/posts/update" method="post">
        <input class="frm-spn2" id="comments" type="text" name="comments" value="" data-cy="comments" placeholder="Add a comment!">
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="submit" value="Add a comment">
        <ul class="frm-textbox-peach" id="comments-list">
          {{#each this.comments}}
              <li>{{ this }}</li>
          {{/each}}
        </ul>
      </form>
    </li>
    {{/each}}
  </ul>
  <footer class="fb-footer">
    <div class="div-footer"></div>
  </footer>
</main>