<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Acebook - Timeline</title>
        <script
            src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js">
    </script>
        <link rel='stylesheet' href='/stylesheets/posts-index.css' />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <header>
            <span class="site_logo">
              <a href="/posts"><img src="/images/logo trial 3.png" alt="Acebook" height="50"></a>
            </span>
      
              <span class="larger">
      
                <form class="button" action="/posts/new">
                  <input class="logout" type="submit" value="New post">
                </form>
      
                &nbsp;&nbsp;|&nbsp;&nbsp;
      
                <form class="button" action="/sessions?_method=DELETE" method="POST">
                  <input class="logout" type="submit" value="Log Out">
                </form>
      
              </span>
            </span>
          </header>
        
        <div class="content col-xs-10 col-s-10 col-7">
            <h1>Timeline</h1>

            <div class="posts">
                {{#each posts}}
                <div class="post">
                    <div class="title">
                        <span class="user-pic">
                            <div class="profile-photo">
                                <img src="/images/logo trial 2.png" alt="profile-photo">
                            </div>
                            <div class="author">{{this.author}}
                            </div>
                        </span>

                        <span class="request">
                            <form action="/request">
                                <input class="custom-file-upload" type="submit"
                                    value="+ Request">
                            </form>
                        </span>
                    </div>
                    <p>{{this.message}}</p>
                    <div class="likes-comments">

    <div>
        <span class="comments">
            <p>{{this.likes}} Likes</p><br>
            <p>Comments</p>
        </span>
    </div>

    <div>
        <span>
            <i class="material-icons"
                                    style="font-size:36px;color:rgb(255, 118,
                                    118);">favorite</i>
                                <i class="material-icons"
                                    style="font-size:36px;color:rgb(115, 115,
                                    115);">comment</i>
                            </span>
                        </div>


                    </div>
                </div>
                {{/each}}


            </div>

        </div>
        </body> 
        <footer>Acebook™ in partnership with Eta™</footer>
</html>


