<h1>Timeline</h1>

<ul class="posts">
  {{#each posts}}
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="" />
            </div>
            <div class="ml-2">
              <div class="h7 text-muted">&nbsp{{this.user.firstName}}</div>
            </div>
          </div>
        </div>
        <div class="text-muted h7 mb-2"> <small>{{this.createdAt}}</small></div>
      </div>
      <div class="card-body">

        <p class="card-text">
          {{this.message}}
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Like</a>
        <a href="/comment/new" id="comment" class="card-link">Comment</a>
        <a href="#" class="card-link">Share</a>
      </div>
    </div>
    <br />
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

