<h1>Timeline</h1>
<div class="posts">
  {{#each posts}}
  <div>{{this.posted_by}} <br>
  {{this.message}}     -      {{this.postedAt}} <br>
  Like count                  Number of comments<br>
  <a href="/post/like">Like</a> 

  </div>
    <br>
  {{/each}}
<div>

<a class="new-post-link" href="/posts/new">New post</a>
