<form action="/" method="GET">
  <input type="submit" value="Home" />
</form>

<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li>
      {{this.message}}<br>
      Created at: {{this.CreatedAt}}
    </li>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

