<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div>
    {{this.message}}
    <form name="delete-post-form" id="{{this.message}}" action="/posts/delete" method="post">
      <input id="id" type="hidden" name="id" value="{{this._id}}">
      <input type="submit" id= this._id value="Delete">
    </form>
    <form id="{{this.message}}" action="/posts/comments" method="get">
      <input id="comment-button" type="submit" name="comment-button" value="Comment">
    </form>
  </div>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
<a class="delete-post-link" href="/posts/delete">Delete post</a>
