<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li id={{this._id}}>
      {{this.message}}
      <form class="delete-post" action="/posts/delete" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input id={{this._id}} type="submit" value="Delete" />
      </form>
    </li>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>