<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}<form method="post" action="/posts/{{this.id}}/delete"><input type="submit" value="Delete"></form></li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
