<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}} <button style="border-radius: 20px;"  
  id="btn" class="btnclick" onclick="CountLikes(this);" type="button" >Like &#128077;
  <p id="display">0</p></button></li>

    <script type="text/javascript">
        var count = 0;
        function CountLikes(element) {
          element.getElementsByTagName('p')[0].innerText++
        console.log(element)
        }
    </script>

  {{/each}}
</ul>


<a class="new-post-link" href="/posts/new">New post</a>
