<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li>{{this.message}}</li>
    <a href="/posts/{{this._id}}">View Comments</a>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>