<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div>class card</div>
  <li>{{this.message}}- {{this.createdAt}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
