<h1 class='title'>{{title}}</h1>

<p> Welcome to {{title}}</p>

<form action="/" method="POST">
  <input name="username" type="text" placeholder="Enter username here">
  <input name="password" type="password" placeholder="Enter password here"> 
  <input type="submit" value="Submit">
</form>