<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}  <button type="button" >Like &#128077;</button></li>
  {{/each}}
</ul>


<a class="new-post-link" href="/posts/new">New post</a>
