

<a id="view-profile" href="/users/{{userid}}">View Profile</a>



<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>
    {{this.message}}
    <br>
    Posted at: <div id="createdAt">{{this.createdAt}}</div>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>


