<h1 class="page-header">Timeline</h1>
<a href="/users/profile" id="profile-link" class="new_post_button">Profile</a>
<div class="posts">
  <form action="/posts/new" method="get">
    <button class="new_post_button">New post</button>
</form>
  {{#each posts}}
  <div class="post">{{this.message}}</div>
  {{/each}}
</div>

