<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}} {{this.likes}}<form action="/likes" method="post">
  <input type="hidden" name="post_id" value={{this._id}}>
  <input type="submit" value="Like">
  </form>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>


{{!-- {{this._id}} --}}