<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}} <button class="like-button">Like</button></li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

{{!-- <script type="text/x-handlebars-template" id="like-template" src="../../public/javascripts/likeCounter.js"></script> --}}
<script src="public/javascripts/likeCounter">{{!}}</script>