<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div>
    {{this.message}}
    <form name="{{this.message}}" id="delete-post-form" action="/posts/delete" method="post">
      <input id="id" type="hidden" name="id" value="{{this._id}}">
      <input type="submit" id= this._id value="Delete">
    </form>
  </div>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
<a class="delete-post-link" href="/posts/delete">Delete post</a>
