<h1>Timeline</h1>
<ul class="posts"> 
  {{#each posts}}
  <li>Created at: {{this.currentDate}}</li>
  <br>
  <li>{{{this.username}}}</li>
  <br> 
  <li>{{{this.message}}}</li>
  <br>
  <li>{{{this.likes}}} likes</li>
  <br>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
