    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <p>{{test}}</p> -->
    <div>
      <form action="/login" method="get">
        <button type="submit" id="logout">Log out</button>
      </form>
    </div>
    <h1>Timeline</h1>
    <ul class="posts">
      {{#each posts}}
      <li>{{this.owner}} - {{this.message}}</li>
      {{/each}}
    </ul>

    <a class="new-post-link" href="/posts/new">New post</a>
