<h1>Timeline</h1>
<ul style="list-style: none;" class="posts">
  {{#each posts}}
  <li>{{this.message}}, {{this.createdAt}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
