<h1 class="title">Hi {{user.firstName}}! Welcome to the TimeLine</h1>
<ul class="posts">

  {{#each posts}}
    <li>{{this.message}}
      at
      {{this.createdAt}}
      {{this.likes.length}} likes
    </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
