<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>
    {{this.message}}
    <br>
    Posted at: {{this.createdAt}}
  </li>
  <button id="like">Like</button>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
