<h1>Timeline</h1>
<ul class="posts" >
  {{#each posts}}
<li>{{this.message}}  <small style= "font-size:0.5em"">{{this.user.email}}</small>

<form class="delete" action='/posts/{{this.id}}?_method=DELETE' method='POST'>
  <button type="submit" value="Delete post">Delete Post</button>
</form></li>
<br>
  
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<form action='/sessions?_method=DELETE' method='POST'>
  <button type="submit" value="Log Out">Log out</button>
</form>
