<body>
<div class="navbar"> 
  <div class="link-container"> 
    <a class="link" href="#0">home</a>
    <a class="link" href="#0">profile</a>
    <a class="link" href="#0">log out</a>
  </div>
</div>
<a href="/" class="logo"></a>
<h1>Newsfeed</h1>
<h2>{{user}}</h2>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
