<h1>{{username}}'s Timeline</h1>
<div class="posts">
  {{#each posts}}
  <div class="username">
    {{this.username}}
  </div>
  <div class="message">
    {{this.message}}
  </div>
  {{/each}}
</div>

<a class="new-post-link" href="/posts/new">New post</a>
