

<a id="view-profile" href="/users/show/6230aed25edef17cd0a07d40">View Profile</a>



<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>


