<HTML>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<form action="/" method="GET">
  <input type="submit" value="Home" />
</form>

<h1>Timeline</h1>

<ul class="posts">
  {{#each posts}}
    <li>{{this.message}}</li>
    <li>{{this.likes}}</li>
    <li>{{this.id}}</li>
    <input id="like-button" class=`{{this.id}}` type="submit" value="Like" />
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<script> 
    document.querySelectorAll("#like-button").forEach((btn) => {
      btn.addEventListener("click", (event) => {
        console.log('Hello')
      const postId = event.target.className
      axios.post('posts/627ce033a8579e3ad0d99a6a/likes');
      });
    }); 
</script>

</HTML>