{{#if messages.success}}
  <ul class="messages">
    {{#each messages.success}}
      <p class="message">{{this}}</p>
    {{/each}}
  </ul>
{{/if}}
{{#if messages.error}}
  <ul class="errors">
    Error: {{#each messages.error}}
      <p class="error">{{this}}</p>
    {{/each}}
  </ul>
{{/if}}

{{> posts/form }}

<a class="new-post-link" href="/posts/new">New Post</a>

<section class="timeline-section">
  <ul class="posts">
    {{#each posts}}
      {{> posts/post this}}
    {{/each}}
  </ul>
</section>

<script src="/javascripts/postAJAX.js"></script>
