<h1>Timeline</h1>

 {{#each posts}}
<div class="posts" style="width: 18rem;">
  <div class="posts-body" style ="border-style:solid">
    <h2 class="card-title">{{this.message}}</h2>
    <a href= "/comments/{{this.id}}" class="card-link">Comments</a>
  </div>
</div>
<br>
{{/each}}
<a class="new-post-link" href="/posts/new">New post</a>
