<form id="new-post-form" action="/posts" method="post">
  <label for="message">Enter your post message here: </label><br>
  <input id="message" type="text" name="message" value=""/><br>
  <p>Add an image to your post</p>
  <label for="image-url">Enter your image url here:</label> <br>
  <input id="image-url" type="text" name="imageUrl" value=""/> <br>
  <input type="submit" value="Submit" />
</form>

