<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message">
  <label for="image">Image: </label>
  <input id="image" type="url" name="image">
  <input type="submit" value="Submit">
</form>
