<form
  id='new-post-form'
  action='/posts'
  method='post'
  enctype='multipart/form-data'
>
  <label for='message'>Message: </label>
  <input id='message' type='text' name='message' value='' />
  <label for='image'>Image: </label>
  <input id='post-img' type='file' name='image' accept='.png, .jpg, .jpeg' />
  <input type='submit' value='Submit' />
</form>