<br>
<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>

    <form action='/sessions?_method=DELETE' method='POST'>
      <button type="submit" value="Log Out">Log out</button>
    </form>
