<form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>

{{!-- <form id="new-post-form" action="/posts" method="post">
<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit">
</form> --}}
<form id="new-post-form" action="/posts" method="post" enctype="multipart/form-data">
  <input type="file" name="image" id="file" >
  <label for="message">Message:</label>
  <input id="message" type="text" name="message" value="">
  <input type="submit">
</form>


{{!-- <img src="data:{{post.image.contentType}};base64,{{post.image.data.toString('base64')}}" alt="Post Image" /> --}}

