<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="" />
  {{#if error}}
    <p><strong>Error:</strong> {{error}}</p>
  {{/if}}
  <input type="submit" value="Submit" />
</form>