<h2>Write on your Acebook</h2>

<br> <form action="/images" method="post" enctype="multipart/form-data">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value=""><br>
  <label>Image</label>
  <input type="file" name="image"><br>
  <input type="submit" value="Submit"><br>
</form> 
</br>


