<link rel='stylesheet' href='/stylesheets/posts-style.css' /></head>

<div class = "comment-form">
  <img id= "dog-gif" src="/images/tenor.gif"/>
<form id="new-post-form" action="/posts" method="post">
  <p class = "edit-label"><label for="message">Type Your Message: </label></p>
  <br>
  <textarea id="message" type="text" name="message" value="" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
<img src="/images/Avacodo.png"/>
</div>
