<h1 class="pt-5">Write on Acebook</h1>
      <form action="/images"
            method="post"
            enctype="multipart/form-data"
            class="row g-2">
          <div class="row g-3">
              <div class="col-7">
               <label for="message" ></label>Message</label>
               <input id="message" type="text" name="message" value="" class="form-control">
            </div>
            
            <div class="col-7">
              <label for="file" class="col-sm-2 col-form-label">Add a Photo</label>
                <input
                  type="file"
                  name="image"
                  id="input-files"
                  class="form-control"/>
            </div>
            <div class="col-7">
            <input type="submit" value="Submit" class="btn btn-primary">
            </div>
            </div>
          </form>

          <form action="/posts" method="get" class="row g-2">
            <div class="row g-3">
            <div class="col-auto">
            <input type="submit" value="Cancel" class="btn btn-secondary">
          </div>
          </div>
          </form> 
      <hr />
      <div class="row">
        <div>
          <div class="preview-images"></div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>
