<div id="post-hero">
<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="content" value="">
  <input type="submit" value="Submit">
</form>

<form action="/posts/" method="get">
  <input type="submit" value="Back to timeline" />
</form>
</div>