<h1 style="text-align: center">New Post</h1>
<form id="new-post-form" class="form" action="/posts" method="post" enctype="multipart/form-data">
    <textarea id="message" name="message" rows="10" cols="90" placeholder="What's on your mind?"></textarea>
    <label><small>Add an image?<br/>
        <input type="file" id="img" name="img" accept="image/*">
    </small></label>
    <input type="submit">
</form>