<form id="new-post-form" action="/posts" method="post">
  <div><label for="message">Title: </label>
  <input id="message" type="text" name="message" value=""><br><br>
  
  <label for="Author">Author</label>
  <input type="text"><br><br>

  <textarea name="" id="" cols="30" rows="10"> Description</textarea><br>
  <input type="submit" value="Submit">
  </div>
</form>
