<form id="" action="/posts" method="post" enctype="multipart/form-data">
  <div class="form-message">
    <label for="message"></label>
    <textarea
      id="message"
      class="form-control custom-input"
      name="message"
      required
    ></textarea>
  </div>

  <div class="form-image">
    <label for="image">Image:</label>
    <input
      type="file"
      class="form-control custom-input"
      id="image"
      name="image"
    />
  </div>

  {{#if error}}
    <p><strong>Error:</strong> {{error}}</p>
  {{/if}}

  <div class="form-submit">
    <input
      type="submit"
      class="btn btn-primary btn-block"
      id="submit"
      value="Post now"
    />
  </div>
</form>