<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label> <br></br>
  <textarea id="message" name="message" rows="10" cols="30"></textarea>
  <br></br>
  <input type="submit" value="Submit">
</form>
