<h2> Post Type</h2>
<p> Either add a message using the text below</p><br>
<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form><br>
<p> Or upload an image using the button below</p>
<form id="new-image-form" action="/posts/images" method="get">
  <input type="submit" value="Upload Image">
</form>

