<h1 class="title">New Post</h1>
<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input class="post-button" type="submit" value="Submit">
</form>
