<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="form">
  <form id="new-post-form" action="/posts" method="post">
    <label for="message" class="message">Message: </label>
    <textarea id="message" name="message" rows="1" cols="25" minlength="2" maxlength="280"  placeholder="Enter your post" required></textarea>
    <input type="submit" value="Submit">
  </form>
</div>