<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label><br>
  <textarea id="message" name="message" value="" rows="5" cols="50" placeholder="Enter your message here"></textarea>
  <input type="submit" value="Submit">
</form>
