<div class="d-flex justify-content-center">
  <div class="large-form-style shadow p-5 card">
    <form id="new-post-form" action="/posts" method="post">
      <label for="message" class="form-header p-2">Message: </label>
      <textarea id="message" type="text" name="message" class="mt-3 p-2 post-input"></textarea>
      <input type="submit" value="Submit" class="btn btn-outline-danger mt-3 p-2">
    </form>
  </div>
</div>
