<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label><br>
  <input id="message" type="text" name="message" value=""/> <br>
  <label for="image-url">Enter your image url here:</label> <br>
  <input id="image-url" type="text" name="imageUrl" value=""/>
  <input type="submit" value="Submit" />
</form>

