<a class="new-post-link" href="/posts">Home</a>
<a class="posts-link" href="/posts">Back</a>

<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Share post">
</form>
