<form id="new-post-form" action="/posts" method="post" enctype="multipart/form-data">
   <input type="file" id="image" name="image">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>
