<form
  id="new-post-form"
  action="/posts"
  enctype="multipart/form-data"
  method="post"
>
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" class="form-control" />
  <input
    id="post-image"
    type="file"
    name="uploadedImage"
    class="form-control-file"
  />
  <input id="submit" type="submit" value="Submit" class="btn btn-default" />
</form>