<form id="new-post-form" action="/posts" method="post">
  <label for="message">Type Your Message: </label>
  <br>
  <textarea id="message" type="text" name="message" value="" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
