<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>

<br>
    <div class="cancel">
      <a href="/posts">Cancel</a>
    </div>
