<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="" required>
  <input type="hidden" id="likes" name="likes" value=0>
  <input type="submit" value="Submit">
</form>
