<div class = "text-box">
  <form id="new-post-form" action="/posts" method="post" enctype="multipart/form-data">
    <label for="message">Message: </label>
    <input id="message" type="text" name="message" value="" required>
    <label for="img">Select image: </label>
    <input type="file" name="img" id="img" accept="image/*">
    <input type="submit" value="Submit">
  </form>
</div>