<script>
  function validatePost() {
    if (document.getElementById('message').value == "") {
      alert('Post cannot be empty!');
      return false;
    } else {
      return true;
    }
  };
</script>
<div class="container">
  <form onsubmit="return validatePost()" id="new-post-form" action="/posts" method="post">
    <label for="message">Message: </label>
    <input id="message" type="text" name="message" value="">
    <input type="submit" value="Submit">
    <input id="cancel" type="button" onclick="javascript:window.location='/posts';" value='Cancel'>
  </form>
</div>