<form action="/" method="GET">
  <input type="submit" value="Home" />
</form>

<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <textarea
    id="message"
    name="message"
    value=""
    rows="2"
    type="text"
    placeholder="Type your post here..."
    style="white-space: pre-wrap;"
  ></textarea>
  {{! <input id="message" type="text" name="message" value="" /> }}
  <input type="submit" value="Submit" />
</form>