<h1 class="title">New Post</h1>
<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label><br>
  <input name="recipient" type="hidden" value="{{recipient}}">
  <textarea id="message" name="message" value="" rows="5" cols="50" placeholder="Enter your message here"></textarea>
  <input class="post-button" type="submit" value="Submit">

</form>
