<!DOCTYPE html>
<html lang="en">
<head>
   <nav class="navbar" style="text-align: center;">
  <a class="timeline" href="/posts">Timeline</a>
    <a class="profile" href="#">Profile</a>
     <a class="logout" href="#">Log Out</a>
</nav>
  <h1>New Post</h1>
  </head>

<body>
<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>

</body>
</html>