<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <label for="message">Optional Image: </label>
  <input type = "file" name = "photo" enctype="multipart/form-data" accept = "image/*" />
  <input type="submit" value="Submit">
  </form>
