<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <label for="file">Upload your image here</label>
  <input type="file" name="image" accept="image/*" enctype="multipart/form-data">
  <input type="submit" name="upload" value="Submit">
</form>
