<h1>{{post.message}}</h1>

{{!-- comments go here --}}

<form action="/posts/{{post._id}}" method="post">
  <input type="text" name="new-comment" id="new-comment" placeholder="Add new comment here..">
  <input type="submit" value="Submit">
</form>