<form id="update-post-form" action="/posts/update" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="{{post.message}}">
  <input type="submit" value="Submit">
</form>
