<form id="update-post-form" action="/posts/update/{{id}}" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="{{message}}">
  <input type="submit" value="Submit">
</form>
