<div>
  <form action="/users/uploadphoto" enctype="multipart/form-data" method="POST"> 
    <input type="file" name="myImage" accept="image/*" />
    <input type="submit" value="Upload Photo"/>
  </form>
</div>