<form id="new-comment-form" action="/posts" method="post">
  <label for="comment">Comment: </label>
  <input id="comment" type="text" name="comment" value="">
  <input type="submit" value="Submit">
</form>
