<form action="/addFriends" method="get">
  <input
    type="text"
    name="searchTerm"
    id="searchTerm"
    placeholder="Search Here.."
    required
  />
  <input type="submit" value="Find" />
</form>
<div id="results">
  {{#each results}}
    <div class="user">
       <img src="data:image/png;base64,{{this.image}}" class="img-circle" height="150" width="150" alt="Avatar">
      <h4>{{this.firstName}}</h4>
      <p>{{this.email}}</p>
      <form action="/addFriends/send" method="post">
        <button name="userId" value="{{this._id}}">Send Request</button>
      </form>
    </div>
  {{/each}}
</div>